### 3 Datenmanipulation und Datenanalyse

##### 3.2 Einführung in `pandas`

In [ ]:
import pandas as pd

In [ ]:
pd.Series([1995, 2017, 2018, 2000], name='year')

In [ ]:
pd.Series([1995, 2017, 2018, 2000], index=['1st_ceo', '2nd_ceo', '3rd_ceo', '4th_ceo'], name='year')

In [ ]:
pd.Series({'1st_ceo': 1995, '2nd_ceo': 2017, '3rd_ceo': 2018, '4th_ceo': 2000}, name='year')

In [ ]:
years = pd.Series({'1st_ceo': 1995, '2nd_ceo': 2017, '3rd_ceo': 2018, '4th_ceo': 2000}, name='year')

print("Index:\t", years.index)
print("Values:\t", years.values)
print("Name:\t", years.name)

In [ ]:
data = {'year': [1995, 2017, 2018, 2000],
        'exec_fullname': ['Ira A. Eichner', 'David P. Storch', 'John McClain Holmes, III', 'William J. Cadogan'],
        'Departure Code': [5, 5, None, 6]}

df = pd.DataFrame(data)
df

In [ ]:
print("Index:\t", df.index)
print("Spalten:", df.columns)
print("Dim.:\t", df.shape)

##### 3.3 Importieren von Daten

In [ ]:
# Im Gegensatz zu `pandas` ist `openpyxl` noch nicht vorinstalliert (ggf. Neustart des Kernels erforderlich)
!pip install openpyxl

In [ ]:
df = pd.read_excel('./data/CEO Dismissal Data 2021.02.03.xlsx', 'Sheet1', engine='openpyxl')

df.head(n=5)  # Gegenteil zu `.head` ist `.tail`

In [ ]:
df = pd.read_excel('./data/CEO Dismissal Data 2021.02.03.xlsx', 'Sheet1', engine='openpyxl', index_col=0)

df.head(n=5)

In [ ]:
col_names = ['id', 'firm_name' , 'firm_id', 'year', 'ceo_id', 'ceo_name', 'depart_code', 'ceo_dismi', 'interim_or_co',
             'tenure_no', 'max_tenure', 'fy_gone', 'date_gone', 'still_active', 'notes1', 'notes2']

df = pd.read_excel('./data/CEO Dismissal Data 2021.02.03.xlsx', 'Sheet1', engine='openpyxl',
                   index_col=0, names=col_names)

df.head(n=5)

In [ ]:
url = 'https://zenodo.org/record/4543893/files/CEO%20Dismissal%20Data%202021.02.03.xlsx?download=1'

df = pd.read_excel(url, 'Sheet1', engine='openpyxl', index_col=0, names=col_names)

In [ ]:
df.info()

In [ ]:
df.to_csv('./data/CEO Dismissal Data 2021.02.03.csv')  # achtung: bad naming convention!

In [ ]:
df.to_csv?

In [ ]:
df.to_csv('./data/CEO Dismissal Data 2021.02.03.csv', sep=';', decimal=',')

##### 3.4 Operationen auf Zeilen

**Indexing / Slicing:**

In [ ]:
df.iloc[5]

In [ ]:
df.iloc[5:6]

In [ ]:
df.iloc[5:7]

In [ ]:
df.iloc[[5, 10, 15]]

In [ ]:
df.loc[5]  # achtung: hier äquivalent zu `iloc`, da Labels integer Werte sind

In [ ]:
df.drop(5, axis=0).head(n=5)

In [ ]:
df.drop(5, axis='rows').head(n=5)

**Boolean Masking / Filtern:**

In [ ]:
mask = df['fy_gone'] > 2010
mask

In [ ]:
df[mask]

In [ ]:
# alternativ:

df[df['fy_gone'] > 2010]

In [ ]:
df[(df['fy_gone'] > 2010) & (df['fy_gone'] < 2015)]

**Sortieren:**

In [ ]:
df.sort_index(ascending=False)    # achtung: `ascending=True` als default

In [ ]:
df.sort_values(by='ceo_id', ascending=True)
df

In [ ]:
# Persistierung der Sortierung mittels `inplace=True` oder Überschreibung der `df` Variable
df.sort_values(by='ceo_id', ascending=True, inplace=True)
df

In [ ]:
df = df.sort_index()
df

In [ ]:
df.sort_values(by=['ceo_id', 'fy_gone'], ascending=True)

**Sampling:**

In [ ]:
df.head(n=100)

In [ ]:
df.tail(n=100)

In [ ]:
df.sample(100, replace=False)

In [ ]:
df.sample(frac=0.2, replace=False)

In [ ]:
df.sample(frac=0.2, replace=False, random_state=2022)  # der `random_state` wird häufig auch `seed` genannt

**Transformieren:**

In [ ]:
df.dropna(axis=0, how='any')

In [ ]:
df.dropna(axis=0, how='any', subset=['depart_code'])

In [ ]:
df.fillna({'depart_code': 1, 'fy_gone': 2010})  # achtung: manueller Eingriff in die Daten!

In [ ]:
df.replace('AAR CORP', 'AAR Corporation')

In [ ]:
df['fy_gone'].value_counts()

In [ ]:
df['fy_gone'].value_counts().sort_index()

In [ ]:
df[df['fy_gone'] > 2021]  # Angenommene Outlier

In [ ]:
df[df['fy_gone'] <= 2021]

##### 3.5 Operationen auf Spalten

**Indexing / Slicing:**

In [ ]:
df.iloc[:, 5]

In [ ]:
df.loc[:, 'depart_code']

In [ ]:
df['depart_code']  # alternativ: df.depart_code

In [ ]:
df[['ceo_id', 'depart_code']]

In [ ]:
df.loc[900:1000, 'depart_code']

In [ ]:
df.index.value_counts()

In [ ]:
df[df.index == 6800]

In [ ]:
df.drop(['notes1', 'notes2'], axis=1)

In [ ]:
df

In [ ]:
# um das Ergebnis zu speichern, muss der reduzierte DataFrame in einer neuen Variable gespeichert werden (sonst geht das Ergebnis verloren)
# alternativ: Verwendung des `inplace` Arguments!

df.drop(['notes2'], axis=1)
df

In [ ]:
df.drop(['notes2'], axis=1, inplace=True)
df

**Umbennen:**

In [ ]:
df.rename(columns={'firm_name': 'company_name', 'ceo_dismi': 'dismissed'})

**Sortieren:**

In [ ]:
col_names = ['firm_id', 'firm_name' , 'year', 'ceo_id', 'ceo_name', 'depart_code', 'ceo_dismi',
             'interim_or_co', 'tenure_no', 'max_tenure', 'fy_gone', 'date_gone', 'still_active']

df.reindex(columns=col_names)

**Transformieren:**

In [ ]:
dismis_dates = df['date_gone']
dismis_dates

In [ ]:
dismis_dates = pd.to_datetime(dismis_dates, errors='coerce')
dismis_dates

In [ ]:
dismis_month = dismis_dates.dt.month_name()
dismis_month

In [ ]:
df['month_gone'] = dismis_month
df

##### 3.6 Datenaggregation auf Spalten

**Univariate Statistiken:**

In [ ]:
df['max_tenure'].mean()

In [ ]:
print("Probability of dismissal:\t\t", df['ceo_dismi'].mean())
print("Probability of dismissal (exkl. NA):\t", df['ceo_dismi'].mean(skipna=True))
print("Probability of dismissal (inkl. NA):\t", df['ceo_dismi'].mean(skipna=False))

In [ ]:
print("Number of dismissals:\t", df['ceo_dismi'].sum())
print("Main fluctuation year:\t", df['fy_gone'].mode()[0])

In [ ]:
print("First dismissal:\t", df['fy_gone'].min())
print("Last dismissal:\t\t", df['fy_gone'].max())

**Bivariate Statistiken:**

In [ ]:
df['tenure_no'].corr(df['max_tenure'])

In [ ]:
df.corr(method='pearson')

In [ ]:
df.corr(method='spearman')

**Einzigartige Werte:**

In [ ]:
df['depart_code'].unique()

In [ ]:
df['depart_code'].value_counts()

In [ ]:
df.describe()

**Z-Standardisierung:**

In [ ]:
df['year']

In [ ]:
(df['year'] - df['year'].mean()) / df['year'].std()

##### 3.7 Operationen auf Gruppen

In [ ]:
data = {'year': [1995, 2017, 2018, 1995],
        'exec_fullname': ['Ira A. Eichner', 'David P. Storch',
                          'John McClain Holmes, III', 'William J. Cadogan'],
        'Departure Code': [5, 5, None, 6]}

df_dummy = pd.DataFrame(data)
df_dummy

In [ ]:
grouped_df = df_dummy.groupby('year')['Departure Code']
grouped_df

In [ ]:
grouped_df.sum()

In [ ]:
grouped_df.mean()

In [ ]:
grouped_df.agg(['sum', 'mean'])

In [ ]:
grouped_df.agg([('total','sum'), ('average','mean')])

In [ ]:
df_dummy.groupby('year').apply(lambda g: g[g['Departure Code'] == 5])

In [ ]:
data2 = {'year': [1995, 2018, 2018, 1995],
        'exec_fullname': ['Ira A. Eichner', 'David P. Storch',
                          'John McClain Holmes, III', 'William J. Cadogan'],
        'Departure Code': [5, 5, None, 6]}

df_dummy2 = pd.DataFrame(data2)
df_dummy2

In [ ]:
df_dummy2.groupby('year').apply(lambda g: g.fillna(g.mean()))

In [ ]:
# alternativ:

def mean_impute(group):
    group_mean = group['Departure Code'].mean()
    return group.fillna(group_mean)

df_dummy2.groupby('year').apply(lambda g: mean_impute(g))