### 2 Einführung in Python

##### 2.3 Variablenzuweisung & Namenskonvetionen

In [ ]:
hours_per_wk = 24*7

In [ ]:
hours_per_wk

In [ ]:
hours_per_week

In [ ]:
hours_per_wk = 'hundertachtundsechzig'

In [ ]:
hours_per_wk

##### 2.4 Datentypen

**Typ `bool`:**

In [ ]:
type(True)

In [ ]:
True + True

In [ ]:
True + True - False

**Typ `int` und `float`:**

In [ ]:
type(10)

In [ ]:
# der hashtag erlaubt Kommentare in euren Code einzubauen
# diese werden nicht evaluiert, wenn der Code ausgeführt wird

# Python erkennt den "." als Dezimaltrenner für Zahlen
type(1.4)

In [ ]:
type(1.)

In [ ]:
type(1)

In [ ]:
# bei Trennung durch Komma können mehrere Befehle gleichzeitig evaluiert werden
# der Code Output ist eingerahmt durch Klammern (es handelt sich um ein "Tuple")

type(1.), type(1)

**Typ `str`:**

In [ ]:
'Hello World!'

In [ ]:
# Vermischung von gleichen Apostrophen führt zu einem SyntaxError
# (Übung: Fehlersuche via Google "python string apostrophe site:stackoverflow.com")
'Hello World, it's beautiful out here!'

In [ ]:
"Hello World, it's beautiful out here!"

In [ ]:
# das gleiche Ergebnis kann ich auch durch einen sogenannten Escape Character ("\") erreichen
# damit erkennt Python den gesamten Inhalt innerhalb der Apostophe als string an
'Hello World, it\'s beautiful out here!'

In [ ]:
# ein einzelner Befehl darf sich nicht über mehrere Zeilen erstrecken (EOL = end-of-line)
"Hello World,
it's beautiful out here!"

In [ ]:
# der Zeilenumbruch wird durch einen sog. new-line Character ("\n") angezeigt
"""Hello World,
it's beautiful out here!"""

In [ ]:
# nach Speichern eines Wertes (bzw. einer expression) in einer Variable
# kann dieser Wert durch erneuten Aufruf der Variable abgerufen werden
text = "Hello World, it's beautiful out here!"
text

In [ ]:
len(text)

In [ ]:
text[0]

In [ ]:
text[18]

In [ ]:
text[18:27]

In [ ]:
text[0:5]

In [ ]:
text[:5]

In [ ]:
text[-1]

In [ ]:
text[-19:-10]

In [ ]:
new_text = "Hello World," + "\n" + "it's beautiful out here!"
new_text

In [ ]:
# type(), print() und len() sind generische Funktionen von Python
print(new_text)

**Typenkonvertierung:**

In [ ]:
int('12')

In [ ]:
float('1.2')

In [ ]:
str(12)

In [ ]:
str(1.2)

In [ ]:
float(1)

In [ ]:
int(1.2)

In [ ]:
# jeder numerische Wert außer 0 ergibt True
bool(2), bool(1), bool(0), bool(-1), bool(5.5), bool(-0.2)

In [ ]:
bool(0), bool(0.000001)

##### 2.5 Vergleichsoperatoren

In [ ]:
x = 1
y = 5

In [ ]:
z == 1

In [ ]:
x == 1

In [ ]:
x > 1

In [ ]:
x >= 1

In [ ]:
(x > 1) or (x == 1)

In [ ]:
(x > 1) | (x == 1)

In [ ]:
(y == 5) and (x == 1)

In [ ]:
(y == 5) & (x == 1)

In [ ]:
x > y

In [ ]:
# das Jupyter Notebook zeigt als Output einer Zelle immer nur das Ergebnis der jeweils letzten Code-Zeile an
x == y
x != y

In [ ]:
# wenn mehrere Ergebnisse mit einer Code-Zelle auf einmal ausgegeben werden sollen: Verwendung der `print` Funktion (oder Trennung durch Komma in einer Zeile)
print(x == y)
print(x != y)
print(x + 4 == y)
print(x < 3 < y, (x < 3) and (y > 3))

In [ ]:
print(1 + 0 + 1 == 2)
print(sum([1, 0, 1]) == 2)
print(sum([True, False, True]) == 2)

In [ ]:
'dan' in 'daniela'

In [ ]:
'dan' in 'robert'

In [ ]:
'dan' not in 'robert'

##### 2.6 Ausgewählte Datenstrukturen in Python

**`list`:**

In [ ]:
l = [5, 7, 28, -5, 'python', 'data', 'python', True]
l

In [ ]:
# bei Slicing einer Liste, erhalte ich die einzelnen Elemente der Liste
l[0], l[-1]

In [ ]:
# einzelne Elemente einer Liste lassen sich ersetzen (durch Zuweisung)
l[0] = 7
l

In [ ]:
l + ['data', 'literacy']

In [ ]:
# Objekte in Python besitzen eigene Methoden/Funktionen
# verfügbare Funktionen lassen per Tab-Taste nach dem Punkt anzeigen
l.append(['data', 'literacy'])
l

In [ ]:
l.pop(-1)

In [ ]:
l

In [ ]:
long_l = l * 2
long_l

In [ ]:
new_l = [13, 24, 6, 7, -15, 59]
new_l.sort()

new_l

In [ ]:
new_l2 = [1, 2, 1.5, False, -10]
new_l2.sort()

new_l2

In [ ]:
new_l3 = [1, 2, 1.5, False, -10, 'einhundert']
new_l3.sort()

In [ ]:
'zweihundert' in new_l3

In [ ]:
33 not in new_l3

**`tuple`:**

In [ ]:
t = (25, '2020')
t

In [ ]:
t[0]

In [ ]:
t[1]

In [ ]:
# einzelne Elemente eines Tuples lassen sich NICHT ersetzen
t[0] = 30

In [ ]:
t + t

In [ ]:
long_t = t * 5
long_t

In [ ]:
long_t.count(25)

In [ ]:
# ein Tuple lässt sich einfach in deine Liste umwandeln (und vice versa) 
list(long_t)

In [ ]:
# und zurück
tuple([25, '2020', 25, '2020', 25, '2020', 25, '2020', 25, '2020'])

In [ ]:
# verschachtelte Datenstrukturen nennt man auch 'nested'
nested_t = ((True, True, False), (23, 'python'))
nested_t

In [ ]:
nested_t[0]

In [ ]:
nested_t[1]

In [ ]:
nested_t[1][0]

**`set`:**

In [ ]:
{'ceo_death', 'ceo_illness', 'ceo_dismissed', 'ceo_dismissed', 'ceo_illness', 'missing'}

In [ ]:
l2 = [7, 7, 28, -5, 'python', 'data', 'python', True, True, True, True]
set(l2)

In [ ]:
# union
set([55, 33, 27]) | set([77, 22, 27])

In [ ]:
# intersection
set([55, 33, 27]) & set([77, 22, 27])

**`dict`:**

In [ ]:
d = {1: 'ceo_death', 2: 'ceo_illness', 3: 'ceo_dismissed_performance', 4: 'ceo_dismissed_personal'}
d

In [ ]:
d[4]

In [ ]:
d[5]

In [ ]:
d = {'first': 'ceo_death', 'second': 'ceo_illness', 'thrid': 'ceo_dismissed_performance', 'fourth': 'ceo_dismissed_personal'}
d

In [ ]:
# slicing von dictionaries erfolgt über den Key (nicht über den Laufindex!)
d[4]

In [ ]:
d['fourth']

In [ ]:
d.keys()

In [ ]:
d.values()

In [ ]:
d['fifth'] = 'fled_authorities'
d

In [ ]:
d.update({'sixth': 'appoint_co_ceo'})
d

##### 2.7 Funktionen

In [ ]:
def Fibonacci(n):
    '''Computes n-th element of the Fibonacci series'''
    
    # Check for correct input
    if n < 0:
        print('Incorrect input. Insert non-negative number.')
        
    # Check if n is 0, then it will return 0
    elif n == 0:
        return 0
    
    # Check if n is 1 or 2, then it will return 1
    elif n == 1 or n == 2:
        return 1
    
    else:
        return Fibonacci(n-1) + Fibonacci(n-2)

In [ ]:
Fibonacci(-1)

In [ ]:
Fibonacci(0)

In [ ]:
Fibonacci(1)

In [ ]:
Fibonacci(2)

In [ ]:
Fibonacci(10)

In [ ]:
# inklusive default-Wert
def Fibonacci2(n=10):
    if n < 0:
        print('Incorrect input')
    elif n == 0:
        return 0
    elif n == 1 or n == 2:
        return 1
    else:
        return Fibonacci(n-1) + Fibonacci(n-2)

In [ ]:
Fibonacci2()

In [ ]:
Fibonacci()

In [ ]:
Fibonacci2(20)

In [ ]:
def summation(a, b):
    return a + b

summation(5, 10)

In [ ]:
def summation2(a, b=50):
    return a + b

summation2(5)

In [ ]:
# keyword argument (kwargs/default argument) muss auf positional argument (args/non-default argument) folgen
def summation2(a=50, b):
    return a + b

summation2(5)

In [ ]:
summation3 = lambda a, b: a + b
summation3(5, 20)