### 3 Datenmanipulation und Datenanalyse

##### 3.2 Einführung in `pandas`

In [ ]:
!pip install pandas

In [2]:
import pandas as pd

In [ ]:
pd.Series([1995, 2017, 2018, 2000], name='year')

In [ ]:
pd.Series([1995, 2017, 2018, 2000], index = ['1st_ceo', '2nd_ceo', '3rd_ceo', '4th_ceo'], name = 'year')

In [ ]:
pd.Series({'1st_ceo': 1995, '2nd_ceo': 2017, '3rd_ceo': 2018, '4th_ceo': 2000}, name = 'year')

In [ ]:
years = pd.Series({'1st_ceo': 1995, '2nd_ceo': 2017, '3rd_ceo': 2018, '4th_ceo': 2000}, name = 'year')

print("Index:\t", years.index)
print("Values:\t", years.values)
print("Name:\t", years.name)

In [ ]:
data = {'year': [1995, 2017, 2018, 2000],
        'exec_fullname': ['Ira A. Eichner', 'David P. Storch', 'John McClain Holmes, III', 'William J. Cadogan'],
        'Departure Code': [5, 5, None, 6]}

df = pd.DataFrame(data)
df

In [ ]:
print("Index:\t", df.index)
print("Spalten:", df.columns)
print("Dims:\t", df.shape)

##### 3.3 Importieren von Daten

In [ ]:
# Im Gegensatz zu `pandas` ist `openpyxl` noch nicht vorinstalliert (ggf. Neustart des Kernels erforderlich)
!pip install openpyxl

In [ ]:
df = pd.read_excel('./data/CEO Dismissal Data 2021.02.03.xlsx', 'Sheet1', engine='openpyxl')

df.head(n=5)  # Gegenteil zu `.head` ist `.tail`

In [ ]:
df = pd.read_excel('./data/CEO Dismissal Data 2021.02.03.xlsx', 'Sheet1', engine='openpyxl', index_col=0)

df.head(n=5)

In [3]:
col_names = ['id', 'firm_name' , 'firm_id', 'year', 'ceo_id', 'ceo_name', 'depart_code', 'ceo_dismi', 'interim_or_co',
             'tenure_no', 'max_tenure', 'fy_gone', 'date_gone', 'still_active', 'notes1', 'notes2']

df = pd.read_excel('./data/CEO Dismissal Data 2021.02.03.xlsx', 'Sheet1', engine='openpyxl',
                   index_col=0, names=col_names)

df.head(n = 5)

,firm_name,firm_id,year,ceo_id,ceo_name,depart_code,ceo_dismi,interim_or_co,tenure_no,max_tenure,fy_gone,date_gone,still_active,notes1,notes2
id,,,,,,,,,,,,,,,
1,AAR CORP,1004,1995,5622,Ira A. Eichner,5.0,0.0,NaN,1,1,1996.0,1996-10-01 00:00:00,NaN,Mr. Ira A. Eichner served as CEO until October...,https://www.comparably.com/companies/aar-corp/...
2,AAR CORP,1004,2017,5623,David P. Storch,5.0,0.0,NaN,1,1,2018.0,2018-05-31 00:00:00,NaN,Agreed to stay as non-executive chairman post ...,https://advance-lexis-com.umiss.idm.oclc.org/a...
3,AAR CORP,1004,2018,51547,"John McClain Holmes, III",NaN,NaN,NaN,1,1,NaN,NaN,17nov2020,NaN,https://www.aarcorp.com/about/corporate-officers/
4,ADC TELECOMMUNICATIONS INC,1013,2000,2611,William J. Cadogan,6.0,0.0,NaN,1,1,2001.0,2001-02-15 00:00:00,NaN,"William Cadogan, the retiring CEO and chairman...",https://www.bizjournals.com/twincities/stories...
5,ADC TELECOMMUNICATIONS INC,1013,2003,23275,Richard R. Roscitt,6.0,0.0,NaN,1,1,2003.0,2003-08-13 00:00:00,NaN,"Richard R. ""Rick"" Roscitt has accepted a new p...",https://www.businesswire.com/news/home/2003081...

In [ ]:
url = 'https://zenodo.org/record/4543893/files/CEO%20Dismissal%20Data%202021.02.03.xlsx?download=1'

df = pd.read_excel(url, 'Sheet1', engine='openpyxl', index_col=0, names=col_names)

In [ ]:
df.shape  # achtung: bei shape handelt es sich um ein Attribut des DataFrames, nicht um eine Methode!

In [ ]:
df.columns

In [ ]:
df.info()

In [ ]:
df.to_csv('./data/CEO Dismissal Data 2021.02.03.csv')  # achtung: bad naming convention!

In [ ]:
df.to_csv?

In [ ]:
df.to_csv('./data/CEO Dismissal Data 2021.02.03.csv', sep=';', decimal=',')

##### 3.4 Operationen auf Zeilen

**Indexing / Slicing:**

In [ ]:
df.head(5)

In [ ]:
df.iloc[5]

In [ ]:
# hier führen .loc und .iloc zum gleichen Ergebnis, da der DataFrame-Index eine Zahl ist
df.loc[5]

In [4]:
df.iloc[5:6]

,firm_name,firm_id,year,ceo_id,ceo_name,depart_code,ceo_dismi,interim_or_co,tenure_no,max_tenure,fy_gone,date_gone,still_active,notes1,notes2
id,,,,,,,,,,,,,,,
6,ADC TELECOMMUNICATIONS INC,1013,2010,8741,Robert E. Switz,7.0,0.0,NaN,1,1,2011.0,2010-12-01 00:00:00,NaN,"Robert E. Switz was the chairman, president an...",https://www.micron.com/about/our-company/leade...

In [5]:
df.iloc[5:7]

,firm_name,firm_id,year,ceo_id,ceo_name,depart_code,ceo_dismi,interim_or_co,tenure_no,max_tenure,fy_gone,date_gone,still_active,notes1,notes2
id,,,,,,,,,,,,,,,
6,ADC TELECOMMUNICATIONS INC,1013,2010,8741,Robert E. Switz,7.0,0.0,NaN,1,1,2011.0,2010-12-01 00:00:00,NaN,"Robert E. Switz was the chairman, president an...",https://www.micron.com/about/our-company/leade...
7,ALPHARMA INC -CL A,1034,1993,5628,Jeffrey E. Smith,5.0,0.0,NaN,1,1,1994.0,1994-06-01 00:00:00,NaN,"From 1985 to 2002, Jeffrey E. Smith served in ...",https://www.biospace.com/article/releases/pdi-...

In [ ]:
df.iloc[[5, 10, 15]]

In [6]:
df.iloc[-5:]

,firm_name,firm_id,year,ceo_id,ceo_name,depart_code,ceo_dismi,interim_or_co,tenure_no,max_tenure,fy_gone,date_gone,still_active,notes1,notes2
id,,,,,,,,,,,,,,,
9025,LYONDELLBASELL INDUSTRIES NV,294524,2017,46408,Bhavesh V. Patel,NaN,NaN,NaN,1,1,NaN,NaN,03feb2021,NaN,NaN
9026,ALLEGION PLC,316056,2017,48314,David D. Petratis,NaN,NaN,NaN,1,1,NaN,NaN,03feb2021,NaN,NaN
9027,DORIAN LPG LTD,317264,2019,63143,John C. Hadjipateras,NaN,NaN,NaN,1,1,NaN,NaN,03feb2021,NaN,https://dorianlpg.com/about/management/default...
9028,NVENT ELECTRIC PLC,326688,2019,62002,Beth A. Wozniak,NaN,NaN,NaN,1,1,NaN,NaN,03feb2021,NaN,https://www.nvent.com/en-us/about-nvent/execut...
9029,ARCOSA INC,328795,2019,61546,Antonio Carrillo,NaN,NaN,NaN,1,1,NaN,NaN,03feb2021,NaN,https://craft.co/arcosa/executives#:~:text=Arc...

In [ ]:
# mit Pandas können idR mehrere Befehle hintereinander geschaltet werden (chaining)
df.drop(5, axis=0).head(n=5)

In [ ]:
df.drop(5, axis='rows').head(n=5)

**Boolean Masking / Filtern:**

In [ ]:
df['fy_gone'] > 2010

In [ ]:
mask = df['fy_gone'] > 2010
df[mask]

In [ ]:
# alternativ in kurz:
df[df['fy_gone'] > 2010]

In [ ]:
# durch "&" (und) sowie "|" (oder) können mehrere Bedingungen kombiniert werden
df[(df['fy_gone'] > 2010) & (df['fy_gone'] < 2015)]

In [ ]:
df[df['ceo_name'] == 'Ira A. Eichner']  # achtung: exact match

In [ ]:
df[df['ceo_name'].str.contains('Jobs')]  # string methods erlauben auch partielles matching

In [ ]:
# alle CEOs, die nicht mehr aktiv sind
df[df['still_active'].isna()]

In [ ]:
# alle CEOs, die noch aktiv sind
df[~df['still_active'].isna()]  # "~" als Verneinungsoperator in Pandas

**Sortieren:**

In [ ]:
df.sort_index(ascending=False)  # Achtung: `ascending=True` als default

In [ ]:
df.sort_values(by='depart_code', ascending=True)
df

In [ ]:
# Persistierung der Sortierung mittels `inplace=True` oder Überschreibung der `df` Variable
df.sort_values(by='depart_code', ascending=True, inplace=True)
df

In [ ]:
df = df.sort_index()
df

In [ ]:
df.sort_values(by=['ceo_id', 'fy_gone'], ascending=True)

In [ ]:
df.sort_values(by=['ceo_id', 'fy_gone'], ascending=[True, False])

**Sampling:**

In [ ]:
df.head(n=100)

In [ ]:
df.tail(n=100)

In [ ]:
df.sample(n=100, replace=False)

In [ ]:
df.sample(frac=0.2, replace=False)

In [ ]:
df.sample(frac=0.2, replace=False, random_state=2023)  # der `random_state` wird häufig auch `seed` genannt

**Transformieren:**

In [ ]:
df.dropna(axis=0, how='any')

In [ ]:
df.dropna(axis=0, how='any', subset=['depart_code'])

In [ ]:
df.dropna(axis=0, how='any', subset=['depart_code', 'still_active'])

In [ ]:
df.fillna({'depart_code': 1, 'fy_gone': 2010})  # achtung: manueller Eingriff in die Daten!

In [ ]:
df.replace('AAR CORP', 'AAR Corporation')

In [ ]:
df[df['fy_gone'] > 2021]  # angenommene Outlier

In [ ]:
df[df['fy_gone'] <= 2021]

##### 3.5 Operationen auf Spalten

**Indexing / Slicing:**

In [ ]:
df.iloc[:, 5]

In [ ]:
df.loc[:, 'depart_code']

In [ ]:
df['depart_code']  # alternativ: df.depart_code

In [ ]:
df[['ceo_id', 'depart_code']]

In [ ]:
# alternativ bei vielen Spalten
cols = ['ceo_id', 'depart_code']
df[cols]

In [ ]:
df.loc[900:1000, 'depart_code']

In [ ]:
df.drop(['notes1', 'notes2'], axis=1)

In [ ]:
df

In [ ]:
# um das Ergebnis zu speichern, muss der reduzierte DataFrame in einer neuen Variable gespeichert werden (sonst geht das Ergebnis verloren)
# alternativ: Verwendung des `inplace` Arguments!

df.drop(['notes2'], axis=1)
df

In [ ]:
df.drop(['notes2'], axis=1, inplace=True)
df

**Umbennen:**

In [ ]:
df.rename(columns={'firm_name': 'company_name', 'ceo_dismi': 'dismissed'})

**Sortieren:**

In [ ]:
col_names = ['firm_id', 'firm_name' , 'year', 'ceo_id', 'ceo_name', 'depart_code', 'ceo_dismi',
             'interim_or_co', 'tenure_no', 'max_tenure', 'fy_gone', 'date_gone', 'still_active']

df.reindex(columns=col_names)

**Transformieren:**

In [ ]:
dismis_dates = df['date_gone']
dismis_dates

In [ ]:
dismis_dates = pd.to_datetime(dismis_dates, errors='coerce')
dismis_dates

In [ ]:
dismis_month = dismis_dates.dt.month_name()
dismis_month

In [ ]:
df['month_gone'] = dismis_month
df

##### 3.6 Datenaggregation auf Spalten

**Univariate Statistiken:**

In [ ]:
df['max_tenure'].mean(), df['max_tenure'].median()

In [ ]:
print("Probability of dismissal:\t\t", df['ceo_dismi'].mean())
print("Probability of dismissal (exkl. NA):\t", df['ceo_dismi'].mean(skipna=True))
print("Probability of dismissal (inkl. NA):\t", df['ceo_dismi'].mean(skipna=False))

In [ ]:
print("Number of dismissals:\t", df['ceo_dismi'].sum())
print("Main fluctuation year:\t", df['fy_gone'].mode()[0])

In [ ]:
print("First dismissal:\t", df['fy_gone'].min())
print("Last dismissal:\t\t", df['fy_gone'].max())

**Bivariate Statistiken:**

In [ ]:
df['tenure_no'].corr(df['max_tenure'])

In [ ]:
df.corr(method='pearson')

In [ ]:
# mehr zum Thema Korrelationen in der Vorlesung "Korrelation & Kausalität"
df.corr(method='pearson', numeric_only=True)

In [ ]:
df.corr(method='spearman', numeric_only=True)

**Einzigartige Werte:**

In [ ]:
df['depart_code'].unique()

In [ ]:
df['depart_code'].value_counts()

In [ ]:
df.describe()

**Z-Standardisierung:**

In [ ]:
df['year']

In [ ]:
(df['year'] - df['year'].mean()) / df['year'].std()

##### 3.7 Operationen auf Gruppen

In [ ]:
data = {'year': [1995, 2017, 2018, 1995],
        'exec_fullname': ['Ira A. Eichner', 'David P. Storch',
                          'John McClain Holmes, III', 'William J. Cadogan'],
        'Departure Code': [5, 5, None, 6]}

df_dummy = pd.DataFrame(data)
df_dummy

In [ ]:
grouped_df = df_dummy.groupby('year')['Departure Code']
grouped_df

In [ ]:
grouped_df.sum()

In [ ]:
grouped_df.mean()

In [ ]:
grouped_df.agg(['sum', 'mean'])

In [ ]:
grouped_df.agg([('total','sum'), ('average','mean')])

In [ ]:
data2 = {'year': [1995, 2018, 2018, 1995],
        'exec_fullname': ['Ira A. Eichner', 'David P. Storch',
                          'John McClain Holmes, III', 'William J. Cadogan'],
        'Departure Code': [5, 5, None, 6]}

df_dummy2 = pd.DataFrame(data2)
df_dummy2

In [ ]:
df_dummy2.groupby('year').apply(
    lambda g: g[g['Departure Code'] == 5]
)

In [ ]:
df_dummy2.groupby('year').apply(
    lambda g: g['Departure Code'].fillna(
        g['Departure Code'].mean()
    )
)

In [ ]:
# alternativ:

def mean_impute(g):
    group_mean = g['Departure Code'].mean()
    return g['Departure Code'].fillna(group_mean)

df_dummy2.groupby('year').apply(lambda g: mean_impute(g))