### Ãœbungsaufgaben Kapitel 3 - Datenmanipulation und Datenanalyse

In [1]:
# Im Gegensatz zu `pandas` ist `openpyxl` noch nicht vorinstalliert (ggf. Neustart des Kernels erforderlich)
!pip install openpyxl

Requirement already satisfied: openpyxl in c:\python\lib\site-packages (3.0.7)
Requirement already satisfied: et-xmlfile in c:\python\lib\site-packages (from openpyxl) (1.1.0)

**Hinweis:** Wir benennen die Spaltennamen des *CEO dissmissal* Datensatzes beim Datenimport um, um uns nachfolgend die Verarbeitung zu erleichtern:

```python
{'dismissal_dataset_id': 'id'
 'coname': 'firm_name'
 'gvkey': 'firm_id'
 'year': 'year'
 'co_per_rol': 'ceo_id'
 'exec_fullname': 'ceo_name'
 'Departure Code': 'depart_code'
 'ceo_dismissal': 'ceo_dismi'
 'Interim & Co-CEO': 'interim_or_co'
 'tenure_no': 'tenure_no'
 'max_tenure_ceodb': 'max_tenure'
 'The fiscal year during which the CEO exited - for clarity': 'fy_gone'
 'leftofc': 'date_gone'
 'Still There': 'still_active'
 'Notes and Thoughts': 'notes1'
 'Notes 2': 'notes2'}
```

In [2]:
import pandas as pd

In [3]:
col_names = ['id', 'firm_name' , 'firm_id', 'year', 'ceo_id', 'ceo_name', 'depart_code', 'ceo_dismi', 'interim_or_co',
             'tenure_no', 'max_tenure', 'fy_gone', 'date_gone', 'still_active', 'notes1', 'notes2']

url = 'https://zenodo.org/record/4543893/files/CEO%20Dismissal%20Data%202021.02.03.xlsx?download=1'

df = pd.read_excel(url, 'Sheet1', engine='openpyxl', index_col=0, names=col_names)

df.head(n=5)

,firm_name,firm_id,year,ceo_id,ceo_name,depart_code,ceo_dismi,interim_or_co,tenure_no,max_tenure,fy_gone,date_gone,still_active,notes1,notes2
id,,,,,,,,,,,,,,,
1,AAR CORP,1004,1995,5622,Ira A. Eichner,5.0,0.0,NaN,1,1,1996.0,1996-10-01 00:00:00,NaN,Mr. Ira A. Eichner served as CEO until October...,https://www.comparably.com/companies/aar-corp/...
2,AAR CORP,1004,2017,5623,David P. Storch,5.0,0.0,NaN,1,1,2018.0,2018-05-31 00:00:00,NaN,Agreed to stay as non-executive chairman post ...,https://advance-lexis-com.umiss.idm.oclc.org/a...
3,AAR CORP,1004,2018,51547,"John McClain Holmes, III",NaN,NaN,NaN,1,1,NaN,NaN,17nov2020,NaN,https://www.aarcorp.com/about/corporate-officers/
4,ADC TELECOMMUNICATIONS INC,1013,2000,2611,William J. Cadogan,6.0,0.0,NaN,1,1,2001.0,2001-02-15 00:00:00,NaN,"William Cadogan, the retiring CEO and chairman...",https://www.bizjournals.com/twincities/stories...
5,ADC TELECOMMUNICATIONS INC,1013,2003,23275,Richard R. Roscitt,6.0,0.0,NaN,1,1,2003.0,2003-08-13 00:00:00,NaN,"Richard R. ""Rick"" Roscitt has accepted a new p...",https://www.businesswire.com/news/home/2003081...

##### 3.4 Operationen auf Zeilen

*Hinweis: Durch klick auf das kleine `+` in der oberen Toolbar oder durch selektieren einer Code Zelle und klicken der Tasten `a` (above) oder `b` (below) kÃ¶nnen neue Code Zellen eingefÃ¼gt werden.*

1. Selektiere die ersten 3 Beobachtungen des Datensatzes.

In [4]:
df.iloc[:3]  # oder: df.head(n=3)

,firm_name,firm_id,year,ceo_id,ceo_name,depart_code,ceo_dismi,interim_or_co,tenure_no,max_tenure,fy_gone,date_gone,still_active,notes1,notes2
id,,,,,,,,,,,,,,,
1,AAR CORP,1004,1995,5622,Ira A. Eichner,5.0,0.0,NaN,1,1,1996.0,1996-10-01 00:00:00,NaN,Mr. Ira A. Eichner served as CEO until October...,https://www.comparably.com/companies/aar-corp/...
2,AAR CORP,1004,2017,5623,David P. Storch,5.0,0.0,NaN,1,1,2018.0,2018-05-31 00:00:00,NaN,Agreed to stay as non-executive chairman post ...,https://advance-lexis-com.umiss.idm.oclc.org/a...
3,AAR CORP,1004,2018,51547,"John McClain Holmes, III",NaN,NaN,NaN,1,1,NaN,NaN,17nov2020,NaN,https://www.aarcorp.com/about/corporate-officers/

2. Selektiere die letzten 100 Beobachtungen des Datensatzes.

In [5]:
df.iloc[-100:]  # oder: df.tail(n=100)

,firm_name,firm_id,year,ceo_id,ceo_name,depart_code,ceo_dismi,interim_or_co,tenure_no,max_tenure,fy_gone,date_gone,still_active,notes1,notes2
id,,,,,,,,,,,,,,,
8939,HOMESTREET INC,187164,2010,54013,Bruce W. Williams,3.0,1.0,NaN,1,1,2010.0,2010-01-20 00:00:00,NaN,Bank was going through financial and perfomanc...,https://www.bizjournals.com/seattle/stories/20...
8940,HOMESTREET INC,187164,2017,54003,Mark K. Mason,NaN,NaN,NaN,1,1,NaN,NaN,Yes,NaN,NaN
8941,AMC NETWORKS INC,187406,2017,46079,Joshua W. Sapan,NaN,NaN,NaN,1,1,NaN,NaN,Yes,NaN,NaN
8942,ENPHASE ENERGY INC,187450,2017,64386,Paul B. Nahi,5.0,0.0,NaN,1,1,2017.0,2017-08-08 00:00:00,NaN,"Petaluma-based Enphase Energy, Inc. (NASDAQ:EN...",https://www.northbaybusinessjournal.com/articl...
8943,ENPHASE ENERGY INC,187450,2019,64394,Badrinarayanan Kothandaraman,NaN,NaN,NaN,1,1,NaN,NaN,probably,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9025,LYONDELLBASELL INDUSTRIES NV,294524,2017,46408,Bhavesh V. Patel,NaN,NaN,NaN,1,1,NaN,NaN,03feb2021,NaN,NaN
9026,ALLEGION PLC,316056,2017,48314,David D. Petratis,NaN,NaN,NaN,1,1,NaN,NaN,03feb2021,NaN,NaN
9027,DORIAN LPG LTD,317264,2019,63143,John C. Hadjipateras,NaN,NaN,NaN,1,1,NaN,NaN,03feb2021,NaN,https://dorianlpg.com/about/management/default...
9028,NVENT ELECTRIC PLC,326688,2019,62002,Beth A. Wozniak,NaN,NaN,NaN,1,1,NaN,NaN,03feb2021,NaN,https://www.nvent.com/en-us/about-nvent/execut...
9029,ARCOSA INC,328795,2019,61546,Antonio Carrillo,NaN,NaN,NaN,1,1,NaN,NaN,03feb2021,NaN,https://craft.co/arcosa/executives#:~:text=Arc...

3. Selektiere alle Beobachtungen aus dem Jahr 2000 und frÃ¼her (Spalte `year`).

In [6]:
df[df['year'] <= 2000]

,firm_name,firm_id,year,ceo_id,ceo_name,depart_code,ceo_dismi,interim_or_co,tenure_no,max_tenure,fy_gone,date_gone,still_active,notes1,notes2
id,,,,,,,,,,,,,,,
1,AAR CORP,1004,1995,5622,Ira A. Eichner,5.0,0.0,NaN,1,1,1996.0,1996-10-01 00:00:00,NaN,Mr. Ira A. Eichner served as CEO until October...,https://www.comparably.com/companies/aar-corp/...
4,ADC TELECOMMUNICATIONS INC,1013,2000,2611,William J. Cadogan,6.0,0.0,NaN,1,1,2001.0,2001-02-15 00:00:00,NaN,"William Cadogan, the retiring CEO and chairman...",https://www.bizjournals.com/twincities/stories...
7,ALPHARMA INC -CL A,1034,1993,5628,Jeffrey E. Smith,5.0,0.0,NaN,1,1,1994.0,1994-06-01 00:00:00,NaN,"From 1985 to 2002, Jeffrey E. Smith served in ...",https://www.biospace.com/article/releases/pdi-...
8,ALPHARMA INC -CL A,1034,1998,5627,Einar W. Sissner,5.0,0.0,NaN,1,1,1999.0,1999-06-01 00:00:00,NaN,Alpharma Inc. announced that Einar W. Sissener...,https://www.biospace.com/article/releases/-b-e...
9,ALPHARMA INC -CL A,1034,1999,16765,Gert W. Munthe,5.0,0.0,NaN,1,1,1999.0,1999-12-31 00:00:00,NaN,"Munthe became CEO in June 1999, preparing to t...",https://www.referenceforbusiness.com/history2/...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7993,HANCOCK JOHN FINL SVCS INC,128659,2000,22532,Stephen L. Brown,5.0,0.0,NaN,1,1,2000.0,2000-06-01 00:00:00,NaN,During the transition to taking John Hancock p...,D'alessandro takes john hancock post of chief ...
8005,PALM INC,132502,1999,20172,Eric A. Benhamou,7.0,0.0,NaN,1,2,NaN,NaN,NaN,It does not look like he was CEO of Palm. Inst...,https://www.industryweek.com/leadership/compan...
8006,PALM INC,132502,2000,20173,Carl J. Yankowski,3.0,1.0,NaN,1,1,2001.0,2001-11-08 00:00:00,NaN,"Mr. Yankowski resigned as the CEO of Palm, Inc...",Link 1: https://www.cnet.com/news/yankowski-ou...
8013,GRANT PRIDECO INC,133170,2000,21948,John C. Coble,3.0,1.0,NaN,1,1,2001.0,2001-02-01 00:00:00,NaN,Although there was not a lot of information he...,https://www.drillingcontractor.org/dcpi/2001/d...
8246,VIASYS HEALTHCARE INC,145854,2000,23147,William B. Ross,7.0,0.0,Interim,1,1,2001.0,2001-04-01 00:00:00,NaN,Willliam Ross served as interim CEO and later ...,https://www.twelfthmantec.com/management/\n ht...

4. Selektiere alle Beobachtungen aus dem Jahr 2000 und frÃ¼her oder 2010 und spÃ¤ter (Spalte `year`).

In [7]:
df[(df['year'] <= 2000) | (df['year'] >= 2010)]

,firm_name,firm_id,year,ceo_id,ceo_name,depart_code,ceo_dismi,interim_or_co,tenure_no,max_tenure,fy_gone,date_gone,still_active,notes1,notes2
id,,,,,,,,,,,,,,,
1,AAR CORP,1004,1995,5622,Ira A. Eichner,5.0,0.0,NaN,1,1,1996.0,1996-10-01 00:00:00,NaN,Mr. Ira A. Eichner served as CEO until October...,https://www.comparably.com/companies/aar-corp/...
2,AAR CORP,1004,2017,5623,David P. Storch,5.0,0.0,NaN,1,1,2018.0,2018-05-31 00:00:00,NaN,Agreed to stay as non-executive chairman post ...,https://advance-lexis-com.umiss.idm.oclc.org/a...
3,AAR CORP,1004,2018,51547,"John McClain Holmes, III",NaN,NaN,NaN,1,1,NaN,NaN,17nov2020,NaN,https://www.aarcorp.com/about/corporate-officers/
4,ADC TELECOMMUNICATIONS INC,1013,2000,2611,William J. Cadogan,6.0,0.0,NaN,1,1,2001.0,2001-02-15 00:00:00,NaN,"William Cadogan, the retiring CEO and chairman...",https://www.bizjournals.com/twincities/stories...
6,ADC TELECOMMUNICATIONS INC,1013,2010,8741,Robert E. Switz,7.0,0.0,NaN,1,1,2011.0,2010-12-01 00:00:00,NaN,"Robert E. Switz was the chairman, president an...",https://www.micron.com/about/our-company/leade...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9025,LYONDELLBASELL INDUSTRIES NV,294524,2017,46408,Bhavesh V. Patel,NaN,NaN,NaN,1,1,NaN,NaN,03feb2021,NaN,NaN
9026,ALLEGION PLC,316056,2017,48314,David D. Petratis,NaN,NaN,NaN,1,1,NaN,NaN,03feb2021,NaN,NaN
9027,DORIAN LPG LTD,317264,2019,63143,John C. Hadjipateras,NaN,NaN,NaN,1,1,NaN,NaN,03feb2021,NaN,https://dorianlpg.com/about/management/default...
9028,NVENT ELECTRIC PLC,326688,2019,62002,Beth A. Wozniak,NaN,NaN,NaN,1,1,NaN,NaN,03feb2021,NaN,https://www.nvent.com/en-us/about-nvent/execut...
9029,ARCOSA INC,328795,2019,61546,Antonio Carrillo,NaN,NaN,NaN,1,1,NaN,NaN,03feb2021,NaN,https://craft.co/arcosa/executives#:~:text=Arc...

5. Selektiere alle CEOs, denen in der zweiten Amtszeit (`tenure_no == 2`) gekÃ¼ndigt wurde (`ceo_dismi == 1`).

In [8]:
df[(df['tenure_no'] == 2) & (df['ceo_dismi'] == 1)]

,firm_name,firm_id,year,ceo_id,ceo_name,depart_code,ceo_dismi,interim_or_co,tenure_no,max_tenure,fy_gone,date_gone,still_active,notes1,notes2
id,,,,,,,,,,,,,,,
215,SCHOOL SPECIALTY INC,1634,2007,20390,Michael J. LaVelle,3.0,1.0,NaN,2,2,2013.0,2013-08-02 00:00:00,NaN,"""GREENVILLE, Wis., July 22, 2013 â€“ School Spec...",https://www.sec.gov/Archives/edgar/data/105545...
931,BIGLARI HOLDINGS INC,3424,2008,13505,Alan B. Gilman,3.0,1.0,Interim,2,2,2008.0,2008-03-01 00:00:00,NaN,"In the first quarter of 2008, Steak n Shake sw...",https://www.siliconinvestor.com/readmsg.aspx?m...
1129,DOWNEY FINANCIAL CORP,4065,2007,16393,Daniel D. Rosenthal,3.0,1.0,NaN,2,2,2008.0,2008-07-01 00:00:00,NaN,"Mr. McAlister noted that Daniel D. Rosenthal, ...","Dobbs, K. (2008, Aug 01). Did an exit add opti..."
1857,INTL RECTIFIER CORP,6109,2008,6126,Alexander Lidow Ph.D.,4.0,1.0,NaN,2,2,2008.0,2007-10-01 00:00:00,NaN,Alex Lidow resigned from the position of CEO i...,https://www.eetimes.com/document.asp?doc_id=12...
1947,SEARS HOLDINGS CORP,6307,2007,30369,Aylwin B. Lewis,3.0,1.0,NaN,2,2,2008.0,2008-02-01 00:00:00,NaN,Sears Holdings Corp. abruptly announced the de...,http://www.nbcnews.com/id/22879044/ns/business...
2441,AVATEX CORP,7745,2001,1573,Abbey J. Butler,3.0,1.0,CO-CEO,2,2,2002.0,2002-12-11 00:00:00,NaN,Co ceo arranagement and the firm went bankrupt,https://www.wsj.com/articles/SB875574127133314...
2445,TENET HEALTHCARE CORP,7750,2017,10390,Trevor Fetter,3.0,1.0,NaN,2,2,2017.0,2017-10-23 00:00:00,NaN,CEO Trevor Fetter has resigned amid the compan...,https://www.modernhealthcare.com/article/20171...
2810,AGILYSYS INC,8599,2008,6481,Arthur Rhein,3.0,1.0,NaN,2,2,2008.0,2008-10-20 00:00:00,NaN,"Mr. Rhein resigned as Chairman, C.E.O., and Pr...",https://www.crn.com/news/channel-programs/2113...
2811,AGILYSYS INC,8599,2010,27948,Martin F. Ellis,3.0,1.0,NaN,2,2,2011.0,2011-06-01 00:00:00,NaN,Agilysys said that then-Chief Executive Office...,https://www.cleveland.com/business/2011/06/agi...
3179,KEYCORP,9783,2000,2048,Robert W. Gillespie,3.0,1.0,NaN,2,2,2001.0,2001-02-01 00:00:00,NaN,Retired three months before his contract ended...,https://www.nytimes.com/2001/01/19/business/co...
3279,STEWART INFORMATION SERVICES,10086,2011,22976,Stewart Morris Jr.,3.0,1.0,CO-CEO,2,2,2011.0,2011-11-01 00:00:00,NaN,Activist shareholder pushed the removal of boa...,https://www.prnewswire.com/news-releases/stewa...
3733,WASTE MANAGEMENT INC-OLD,11306,1997,2357,Dean L. Buntrock,3.0,1.0,Interim,2,2,1997.0,1997-07-15 00:00:00,NaN,Bloomberg talks about how he was nudged off th...,https://www.wsj.com/articles/SB951274040955526...
4295,INDYMAC BANCORP INC,13166,2007,21725,Michael W. Perry,3.0,1.0,NaN,2,1,2008.0,2008-07-11 00:00:00,NaN,The company went bust when the mortgage sub we...,https://www.reuters.com/article/indymac-execut...
4771,HOUSE2HOME INC,15360,2000,4533,Herbert J. Zarkin,3.0,1.0,NaN,2,2,2000.0,2001-01-01 00:00:00,NaN,Company went backrupt again in 2001 and was li...,https://www.sandiegouniontribune.com/sdut-hous...
4836,LECHTERS INC,16454,2000,10578,Donald Jonas,3.0,1.0,NaN,2,2,2000.0,2000-11-16 00:00:00,NaN,"In late 2000, the company announced that its c...",http://www.fundinguniverse.com/company-histori...
5355,BIOLASE INC,23291,2007,36160,Jeffrey W. Jones,3.0,1.0,NaN,2,2,2007.0,2007-11-05 00:00:00,NaN,Multiple sites state that the company was unde...,https://www.ocregister.com/2007/11/06/biolase-...
6235,PAPA JOHNS INTERNATIONAL INC,28397,2017,17117,John H. Schnatter,4.0,1.0,NaN,2,2,2017.0,2017-12-01 00:00:00,NaN,Papa John's founder John Schnatter has agreed ...,https://www.nbcnews.com/business/business-news...
556717,RENT-A-CENTER INC,31460,2017,36115,Mark E. Speese,3.0,1.0,NaN,2,2,2018.0,2018-01-01 00:00:00,NaN,He started this stint as interim but stayed on...,https://www.businesswire.com/news/home/2017041...
6837,MEDNAX INC,61325,2017,15136,Roger J. Medel,3.0,1.0,NaN,2,2,2020.0,2020-07-12 00:00:00,NaN,These announcements are pursuant to an agreeme...,https://exechange.com/20008/mednax-ceo-roger-m...
7029,LUCENT TECHNOLOGIES INC,62599,2001,11600,Henry Brewer Schacht,3.0,1.0,NaN,2,2,2002.0,2002-06-01 00:00:00,NaN,Schacht steps down after an inability to reviv...,https://www.chicagotribune.com/news/ct-xpm-200...
7281,MONSTER WORLDWIDE INC,64156,2006,22327,Andrew J. McKelvey,4.0,1.0,NaN,2,2,2006.0,2006-10-06 00:00:00,NaN,McKelvey left the company amid questions about...,http://www.tributes.com/obituary/print/8462905...
7350,MEADE INSTRUMENTS CORP,64595,2012,20297,Steven G. Murdock,3.0,1.0,NaN,2,2,2019.0,2019-11-01 00:00:00,NaN,Company reinstated old CEO and the company end...,https://en.wikipedia.org/wiki/Meade_Instruments
8031,CONVERSANT INC,133547,2009,33161,Thomas A. Vadnais,3.0,1.0,NaN,2,2,2010.0,2010-04-09 00:00:00,NaN,Tom A. Vadnais resigned and retired from his o...,https://www.conversantmedia.com/about-us/press...
8142,INSEEGO CORP,141178,2014,31116,Peter V. Leparulo,3.0,1.0,NaN,2,2,2014.0,2014-06-13 00:00:00,NaN,Company had suffered a long string of disappoi...,https://www.sdbj.com/news/2014/jun/15/novatel-...
8596,CHIPOTLE MEXICAN GRILL INC,165914,2017,36060,M. Steven Ells,3.0,1.0,NaN,2,2,2017.0,2017-11-29 00:00:00,NaN,Steve Ells has stepped down as CEO of Chipotle...,https://www.restaurantbusinessonline.com/chipo...

6. Selektiere alle Beobachtungen, zu denen es denen es keine Notizen gibt (d.h. `notes1` enthÃ¤lt keinen Eintrag).

In [9]:
df.dropna(axis=0, how='any', subset=['notes1'])  # oder: df[df['notes1'].notna()], df[~df['notes1'].isna()]

,firm_name,firm_id,year,ceo_id,ceo_name,depart_code,ceo_dismi,interim_or_co,tenure_no,max_tenure,fy_gone,date_gone,still_active,notes1,notes2
id,,,,,,,,,,,,,,,
1,AAR CORP,1004,1995,5622,Ira A. Eichner,5.0,0.0,NaN,1,1,1996.0,1996-10-01 00:00:00,NaN,Mr. Ira A. Eichner served as CEO until October...,https://www.comparably.com/companies/aar-corp/...
2,AAR CORP,1004,2017,5623,David P. Storch,5.0,0.0,NaN,1,1,2018.0,2018-05-31 00:00:00,NaN,Agreed to stay as non-executive chairman post ...,https://advance-lexis-com.umiss.idm.oclc.org/a...
4,ADC TELECOMMUNICATIONS INC,1013,2000,2611,William J. Cadogan,6.0,0.0,NaN,1,1,2001.0,2001-02-15 00:00:00,NaN,"William Cadogan, the retiring CEO and chairman...",https://www.bizjournals.com/twincities/stories...
5,ADC TELECOMMUNICATIONS INC,1013,2003,23275,Richard R. Roscitt,6.0,0.0,NaN,1,1,2003.0,2003-08-13 00:00:00,NaN,"Richard R. ""Rick"" Roscitt has accepted a new p...",https://www.businesswire.com/news/home/2003081...
6,ADC TELECOMMUNICATIONS INC,1013,2010,8741,Robert E. Switz,7.0,0.0,NaN,1,1,2011.0,2010-12-01 00:00:00,NaN,"Robert E. Switz was the chairman, president an...",https://www.micron.com/about/our-company/leade...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9019,GLOBE SPECIALTY METALS INC,274165,2008,46094,Alan Kestenbaum,5.0,0.0,NaN,1,1,2008.0,2008-06-02 00:00:00,NaN,"NEW YORK, June, 2 2008 - Globe Specialty Metal...","(June 2, 2008 Monday). Globe SpecialtyMetal Ap..."
9020,GLOBE SPECIALTY METALS INC,274165,2015,46092,Jeffrey K. Bradley,7.0,0.0,NaN,1,1,2016.0,2015-10-22 00:00:00,NaN,"MIAMI and MADRID - July 13, 2015 (GLOBE NEWSWI...",https://investor.ferroglobe.com/news-releases/...
9021,FUTUREFUEL CORP,287462,2013,48303,Lee E. Mikles,5.0,0.0,NaN,1,1,2013.0,2013-01-01 00:00:00,NaN,"Lee E. Mikles has submitted his resignation, e...",https://www.stltoday.com/business/local/novell...
9023,LYONDELLBASELL INDUSTRIES NV,294524,2009,46402,Volker Trautz,7.0,0.0,NaN,1,1,2009.0,2009-05-01 00:00:00,NaN,Mr. Volker Trautz has announced his retirement...,https://ftalphaville.ft.com/2009/01/06/50826/l...
9024,LYONDELLBASELL INDUSTRIES NV,294524,2014,46407,James L. Gallogly,5.0,0.0,NaN,1,1,2015.0,2015-01-12 00:00:00,NaN,"James Gallogly, announced his plans to retire ...",https://www.houstonchronicle.com/business/ener...

7. Selektiere alle Beobachtungen, zu denen es denen es Notizen gibt (d.h. `notes1` enthÃ¤lt einen Eintrag).

In [10]:
df[df['notes1'].isna()]  # oder: df[~df['notes1'].notna()]

,firm_name,firm_id,year,ceo_id,ceo_name,depart_code,ceo_dismi,interim_or_co,tenure_no,max_tenure,fy_gone,date_gone,still_active,notes1,notes2
id,,,,,,,,,,,,,,,
3,AAR CORP,1004,2018,51547,"John McClain Holmes, III",NaN,NaN,NaN,1,1,NaN,NaN,17nov2020,NaN,https://www.aarcorp.com/about/corporate-officers/
16,AMERICAN AIRLINES GROUP INC,1045,2019,49256,William Douglas Parker,NaN,NaN,NaN,1,1,NaN,NaN,16nov2020,NaN,https://www.aa.com/i18n/customer-service/about...
20,AEROFLEX INC,1056,2008,19963,Leonard Borow,NaN,NaN,NaN,1,1,NaN,NaN,16nov2020,NaN,https://www.bloomberg.com/profile/person/1445657
23,AVX CORP,1072,2018,53405,John Sarvis,NaN,NaN,NaN,1,1,NaN,NaN,16nov2020,NaN,https://www.marketscreener.com/business-leader...
30,AARON'S INC,1076,2019,50434,John W. Robinson III,NaN,NaN,NaN,1,1,NaN,NaN,16nov2020,NaN,https://investor.aarons.com/management/john-ro...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9025,LYONDELLBASELL INDUSTRIES NV,294524,2017,46408,Bhavesh V. Patel,NaN,NaN,NaN,1,1,NaN,NaN,03feb2021,NaN,NaN
9026,ALLEGION PLC,316056,2017,48314,David D. Petratis,NaN,NaN,NaN,1,1,NaN,NaN,03feb2021,NaN,NaN
9027,DORIAN LPG LTD,317264,2019,63143,John C. Hadjipateras,NaN,NaN,NaN,1,1,NaN,NaN,03feb2021,NaN,https://dorianlpg.com/about/management/default...
9028,NVENT ELECTRIC PLC,326688,2019,62002,Beth A. Wozniak,NaN,NaN,NaN,1,1,NaN,NaN,03feb2021,NaN,https://www.nvent.com/en-us/about-nvent/execut...
9029,ARCOSA INC,328795,2019,61546,Antonio Carrillo,NaN,NaN,NaN,1,1,NaN,NaN,03feb2021,NaN,https://craft.co/arcosa/executives#:~:text=Arc...

8. Sortiere den Datensatz nach dem `year` in absteigender Reihenfolge und speichere das Resultat in der Variable `df_sorted`.

In [11]:
df_sorted = df.sort_values(by='year', ascending=False)
df_sorted

,firm_name,firm_id,year,ceo_id,ceo_name,depart_code,ceo_dismi,interim_or_co,tenure_no,max_tenure,fy_gone,date_gone,still_active,notes1,notes2
id,,,,,,,,,,,,,,,
1996,KELLY SERVICES INC -CL A,6379,2109,34754,George S. Corona,5.0,0.0,NaN,1,1,2019.0,2019-09-30 00:00:00,NaN,Executive gave one month notice although the c...,https://exechange.com/13794/kelly-services-ceo...
8193,ACCENTURE PLC,143357,2020,44905,Pierre Nanterme,2.0,0.0,NaN,1,1,2019.0,2019-01-10 00:00:00,NaN,"Accenture PLC announced in a January 11th, 201...",https://newsroom.accenture.com/news/accenture-...
9029,ARCOSA INC,328795,2019,61546,Antonio Carrillo,NaN,NaN,NaN,1,1,NaN,NaN,03feb2021,NaN,https://craft.co/arcosa/executives#:~:text=Arc...
6119,INTUIT INC,27928,2019,35937,Sasan K. Goodarzi,NaN,NaN,NaN,1,1,NaN,NaN,probably,NaN,NaN
6069,NAUTILUS INC,27760,2019,63827,"James Barr, IV",NaN,NaN,NaN,1,1,NaN,NaN,probably,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5458,PANERA BREAD CO,24113,1992,8073,Louis I. Kane,5.0,0.0,NaN,1,1,1994.0,1994-05-25 00:00:00,NaN,"LOUIS I. KANE, Director since 1981, co-founder...",https://sec.report/Document/0001029869-98-0007...
335,BALDOR ELECTRIC CO,1981,1992,5686,R. S. Boreham Jr.,5.0,0.0,NaN,1,2,1993.0,1993-01-03 00:00:00,NaN,"Roland S. Boreham, Jr., was Baldorâ€™s CEO from ...",http://www.annualreports.com/HostedData/Annual...
2542,NORTEL NETWORKS CORP,7980,1992,1648,Paul George Stern,3.0,1.0,NaN,1,1,1993.0,1993-02-28 00:00:00,NaN,"With profits and the share price dropping, Pau...",https://www.theglobeandmail.com/report-on-busi...
1698,HONEYWELL INC,5693,1992,1162,James J. Renier,3.0,1.0,NaN,1,1,1993.0,1993-04-20 00:00:00,NaN,"Renier resigned as chairman and CEO in 1993, s...",http://www.fundinguniverse.com/company-histori...
1296,FEDDERS CORP,4595,1987,8921,Salvatore Giordano,5.0,0.0,NaN,1,2,1988.0,1988-01-01 00:00:00,NaN,Salvatore Giordano passed away 02/22/2003. Thi...,https://www.newjerseyhills.com/salvatore-giord...

9. Sortiere den Datensatz nach dem `year` in absteigender Reihenfolge und Ã¼berschreibe den original Datensatz unter Verwendung des `inplace` Arguments.

In [12]:
df.sort_values(by='year', ascending=False, inplace=True)
df

,firm_name,firm_id,year,ceo_id,ceo_name,depart_code,ceo_dismi,interim_or_co,tenure_no,max_tenure,fy_gone,date_gone,still_active,notes1,notes2
id,,,,,,,,,,,,,,,
1996,KELLY SERVICES INC -CL A,6379,2109,34754,George S. Corona,5.0,0.0,NaN,1,1,2019.0,2019-09-30 00:00:00,NaN,Executive gave one month notice although the c...,https://exechange.com/13794/kelly-services-ceo...
8193,ACCENTURE PLC,143357,2020,44905,Pierre Nanterme,2.0,0.0,NaN,1,1,2019.0,2019-01-10 00:00:00,NaN,"Accenture PLC announced in a January 11th, 201...",https://newsroom.accenture.com/news/accenture-...
9029,ARCOSA INC,328795,2019,61546,Antonio Carrillo,NaN,NaN,NaN,1,1,NaN,NaN,03feb2021,NaN,https://craft.co/arcosa/executives#:~:text=Arc...
6119,INTUIT INC,27928,2019,35937,Sasan K. Goodarzi,NaN,NaN,NaN,1,1,NaN,NaN,probably,NaN,NaN
6069,NAUTILUS INC,27760,2019,63827,"James Barr, IV",NaN,NaN,NaN,1,1,NaN,NaN,probably,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5458,PANERA BREAD CO,24113,1992,8073,Louis I. Kane,5.0,0.0,NaN,1,1,1994.0,1994-05-25 00:00:00,NaN,"LOUIS I. KANE, Director since 1981, co-founder...",https://sec.report/Document/0001029869-98-0007...
335,BALDOR ELECTRIC CO,1981,1992,5686,R. S. Boreham Jr.,5.0,0.0,NaN,1,2,1993.0,1993-01-03 00:00:00,NaN,"Roland S. Boreham, Jr., was Baldorâ€™s CEO from ...",http://www.annualreports.com/HostedData/Annual...
2542,NORTEL NETWORKS CORP,7980,1992,1648,Paul George Stern,3.0,1.0,NaN,1,1,1993.0,1993-02-28 00:00:00,NaN,"With profits and the share price dropping, Pau...",https://www.theglobeandmail.com/report-on-busi...
1698,HONEYWELL INC,5693,1992,1162,James J. Renier,3.0,1.0,NaN,1,1,1993.0,1993-04-20 00:00:00,NaN,"Renier resigned as chairman and CEO in 1993, s...",http://www.fundinguniverse.com/company-histori...
1296,FEDDERS CORP,4595,1987,8921,Salvatore Giordano,5.0,0.0,NaN,1,2,1988.0,1988-01-01 00:00:00,NaN,Salvatore Giordano passed away 02/22/2003. Thi...,https://www.newjerseyhills.com/salvatore-giord...

10. Sortiere den Datensatz nun wieder nach dem ursprÃ¼nglichen Index unter Verwendung des `inplace` Arguments.

In [13]:
df.sort_index(inplace=True)
df

,firm_name,firm_id,year,ceo_id,ceo_name,depart_code,ceo_dismi,interim_or_co,tenure_no,max_tenure,fy_gone,date_gone,still_active,notes1,notes2
id,,,,,,,,,,,,,,,
1,AAR CORP,1004,1995,5622,Ira A. Eichner,5.0,0.0,NaN,1,1,1996.0,1996-10-01 00:00:00,NaN,Mr. Ira A. Eichner served as CEO until October...,https://www.comparably.com/companies/aar-corp/...
2,AAR CORP,1004,2017,5623,David P. Storch,5.0,0.0,NaN,1,1,2018.0,2018-05-31 00:00:00,NaN,Agreed to stay as non-executive chairman post ...,https://advance-lexis-com.umiss.idm.oclc.org/a...
3,AAR CORP,1004,2018,51547,"John McClain Holmes, III",NaN,NaN,NaN,1,1,NaN,NaN,17nov2020,NaN,https://www.aarcorp.com/about/corporate-officers/
4,ADC TELECOMMUNICATIONS INC,1013,2000,2611,William J. Cadogan,6.0,0.0,NaN,1,1,2001.0,2001-02-15 00:00:00,NaN,"William Cadogan, the retiring CEO and chairman...",https://www.bizjournals.com/twincities/stories...
5,ADC TELECOMMUNICATIONS INC,1013,2003,23275,Richard R. Roscitt,6.0,0.0,NaN,1,1,2003.0,2003-08-13 00:00:00,NaN,"Richard R. ""Rick"" Roscitt has accepted a new p...",https://www.businesswire.com/news/home/2003081...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55863,BED BATH & BEYOND INC,25338,1993,10653,Warren Eisenberg,9.0,NaN,CO-CEO,1,2,NaN,NaN,NaN,He didn't leave but wasn't shown as CEO by exe...,NaN
556717,RENT-A-CENTER INC,31460,2017,36115,Mark E. Speese,3.0,1.0,NaN,2,2,2018.0,2018-01-01 00:00:00,NaN,He started this stint as interim but stayed on...,https://www.businesswire.com/news/home/2017041...
556718,RENT-A-CENTER INC,31460,2019,36117,Mitchell E. Fadel,NaN,NaN,NaN,1,1,NaN,NaN,03feb2021,NaN,NaN
557049,TRAVELERS COS INC,62689,1999,12200,Jay S. Fishman,7.0,0.0,NaN,1,2,2001.0,2001-01-01 00:00:00,NaN,"ay Steven Fishman (November 4, 1952 â€“ August 1...",https://en.wikipedia.org/wiki/Jay_S._Fishman
559029,DESIGNER BRANDS INC,24171,2008,54815,Jay L. Schottenstein,5.0,0.0,NaN,1,1,2009.0,2009-04-27 00:00:00,NaN,there was some family fighting around the time...,https://www.sec.gov/Archives/edgar/data/131994...

11. Ziehe eine zufÃ¤llige Stichprobe (mit ZurÃ¼cklegen), deren GrÃ¶ÃŸe 40% des originalen Datensatzes entspricht. Verwende dafÃ¼r die *Seed* 2023 (d.h. setze `random_state=2023`).

In [14]:
df.sample(frac=0.4, replace=True, random_state=2023)

,firm_name,firm_id,year,ceo_id,ceo_name,depart_code,ceo_dismi,interim_or_co,tenure_no,max_tenure,fy_gone,date_gone,still_active,notes1,notes2
id,,,,,,,,,,,,,,,
4845,EOG RESOURCES INC,16478,1998,9312,Forrest E. Hoglund,5.0,0.0,NaN,1,1,1998.0,1998-09-09 00:00:00,NaN,"Forrest E. Hoglund, EOG Chairman, who announce...",http://www.gasandoil.com/news/n_america/298a2d...
5504,AMBAC FINANCIAL GROUP INC,24287,2003,10807,Phillip B. Lassiter,5.0,0.0,NaN,1,1,2004.0,2004-01-27 00:00:00,NaN,Mr. Lassiter retired as C.E.O. of A.M.B.A.C. F...,http://ir.ambac.com/node/9431/html#toc50308_36...
2688,PACIFIC TELESIS GROUP,8286,1996,1739,Philip J. Quigley,7.0,0.0,NaN,1,1,1997.0,1997-10-24 00:00:00,29dec2020,Pacific Telesis Group chief executive Philip J...,https://www.bizjournals.com/sanfrancisco/stori...
5883,ULTRAMAR DIAMOND SHAMROCK,25422,1996,10992,Jean Gaulin,7.0,0.0,NaN,1,2,1996.0,1996-12-02 00:00:00,NaN,Jean R. Gaulin has served as Chairman of the B...,https://www.sec.gov/Archives/edgar/data/887207...
5695,SBS TECHNOLOGIES INC,24832,2002,23031,Grahame E. Rance,5.0,0.0,NaN,1,1,2002.0,2002-04-26 00:00:00,NaN,"Former Chairman and Chief Executive Officer, G...",http://media.corporate-ir.net/media_files/irol...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4884,DIGI INTERNATIONAL INC,16710,2014,20851,Joseph T. Dunsmore,5.0,0.0,NaN,1,1,2015.0,2014-12-17 00:00:00,NaN,"MINNEAPOLIS, April 23, 2014 - Digi Internation...",https://www.digi.com/news/press-releases/913\n...
8073,JANUS CAPITAL GROUP INC,137232,2002,21695,Landon Hill Rowland,7.0,0.0,NaN,1,1,NaN,NaN,NaN,"Rowland, who was CEO of both Stillwell spinoff...","(Wall Street Journal 1) By, A. L. (2002, Oct 3..."
511,RESOLUTE FOREST PRODUCTS INC,2337,2019,45071,Yves Laflamme,NaN,NaN,NaN,1,1,NaN,NaN,probably,NaN,NaN
137,US ECOLOGY INC,1439,2019,49520,Jeffrey R. Feeler,NaN,NaN,NaN,1,1,NaN,NaN,23oct2020,NaN,https://investors.usecology.com/corporate-gove...
640,CAMPBELL SOUP CO,2663,2019,62316,Mark A. Clouse,NaN,NaN,NaN,1,1,NaN,NaN,probably,NaN,NaN

12. Selektiere alle CEOs, die eine 3. oder sogar 4. Amtszeit (`tenure_no`) angetreten haben (=potenzielle AusreiÃŸer?).

In [15]:
df[df['tenure_no'] >= 3]  # oder: df[df['tenure_no'] in [3, 4]]

,firm_name,firm_id,year,ceo_id,ceo_name,depart_code,ceo_dismi,interim_or_co,tenure_no,max_tenure,fy_gone,date_gone,still_active,notes1,notes2
id,,,,,,,,,,,,,,,
209,ANALOGIC CORP,1633,2007,15471,"Bernard M. Gordon, MS",9.0,NaN,NaN,3,3,NaN,NaN,NaN,Execucomp shows him leaving - he didn't,NaN
1415,FORD MOTOR CO,4839,2017,23940,"William Clay Ford, Jr.",9.0,NaN,NaN,3,3,NaN,NaN,NaN,NaN,NaN
2854,POWELL INDUSTRIES INC,8699,2016,39127,Thomas W. Powell,7.0,0.0,Interim,3,3,2017.0,2016-10-01 00:00:00,NaN,"On September 27, 2016, the board of directors ...",https://www.sec.gov/Archives/edgar/data/80420/...
3278,STEWART INFORMATION SERVICES,10086,2010,22977,Malcolm S. Morris,5.0,0.0,CO-CEO,3,3,2011.0,2011-11-01 00:00:00,NaN,He let go of the CEO role but stayed on as pre...,https://www.houstonchronicle.com/business/real...
4305,PHOTRONICS INC,13200,2005,10503,Constantine S. Macricostas,7.0,0.0,NaN,3,4,2005.0,2005-06-01 00:00:00,12oct2020,Constantine S. Macricostas is Chairman of the ...,https://photronicsinc.gcs-web.com/directors/co...
4307,PHOTRONICS INC,13200,2015,10503,Constantine S. Macricostas,7.0,0.0,NaN,4,4,2015.0,2015-05-04 00:00:00,12oct2020,Constantine S. Macricostas is Chairman of the ...,https://photronicsinc.gcs-web.com/directors/co...
4790,TREDEGAR CORP,15459,2018,7619,John D. Gottwald,5.0,0.0,NaN,3,3,2019.0,2019-03-19 00:00:00,NaN,Tredegar Corporation (NYSE:TG) today announced...,https://www.businesswire.com/news/home/2019022...
5816,AGCO CORP,25180,2003,8383,Robert J. Ratliff,5.0,0.0,NaN,3,3,2004.0,2004-07-01 00:00:00,NaN,"July 31, 2006--AGCO Corporation (NYSE: AG), a ...",https://investors.agcocorp.com/news-releases/n...
8032,CONVERSANT INC,133547,2012,32004,James R. Zarley,5.0,0.0,NaN,3,3,2012.0,2012-12-05 00:00:00,NaN,EO James Zarley has resigned as CEO and has ta...,https://www.conversantmedia.com/about-us/press...
8086,CALIFORNIA PIZZA KITCHEN INC,138321,2007,31930,Larry S. Flax,5.0,0.0,CO-CEO,3,1,2011.0,2011-08-01 00:00:00,NaN,"Rick Rosenfield and Larry Flax, two former att...",https://www.seafoodnews.com/Story/1044206/Two-...

13. Selektiere alle CEOs, deren `ceo_name` mit einem `L` beginnt. (*Tipp: Wirf einen Blick in die [`pandas` Dokumentation](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.str.startswith.html)*)

In [16]:
df[df['ceo_name'].str.startswith('L')]

,firm_name,firm_id,year,ceo_id,ceo_name,depart_code,ceo_dismi,interim_or_co,tenure_no,max_tenure,fy_gone,date_gone,still_active,notes1,notes2
id,,,,,,,,,,,,,,,
20,AEROFLEX INC,1056,2008,19963,Leonard Borow,NaN,NaN,NaN,1,1,NaN,NaN,16nov2020,NaN,https://www.bloomberg.com/profile/person/1445657
33,ACETO CORP,1094,2009,11077,Leonard S. Schwartz,5.0,0.0,NaN,1,1,2010.0,2009-11-20 00:00:00,NaN,The company said he retired effective Nov. 20 ...,http://www.boston.com/business/articles/2009/1...
48,ADVANCED MICRO DEVICES,1161,2019,46953,Lisa T. Su,NaN,NaN,NaN,1,1,NaN,NaN,16nov2020,NaN,https://www.amd.com/en/corporate/leadership-li...
75,ALBERTO-CULVER CO,1239,1993,33,Leonard H. Lavin,5.0,0.0,NaN,1,1,1995.0,1994-10-01 00:00:00,NaN,Leonard Lavin built Albert-Culver Co. from a f...,https://www.chicagotribune.com/news/obituaries...
79,ALBERTSON'S INC,1240,2005,23904,Lawrence R. Johnston,7.0,0.0,NaN,1,1,2006.0,2006-06-02 00:00:00,NaN,"On June 2, 2006, Emerald Acquisition Sub, Inc....",https://www.sec.gov/Archives/edgar/data/95521/...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8858,CLEARWATER PAPER CORP,181931,2017,37542,Linda K. Massman,NaN,NaN,NaN,1,1,NaN,NaN,Yes,NaN,NaN
8889,FINANCIAL ENGINES INC,184009,2017,44692,Lawrence Michael Raffone,7.0,0.0,NaN,1,1,2018.0,2018-07-23 00:00:00,NaN,"SUNNYVALE, Calif.--(BUSINESS WIRE)--Financial ...",https://www.investmentnews.com/financial-engin...
8971,NATIONAL BANK HLDGS CORP,190963,2010,54017,Lawrence Kingsbaker Fish,5.0,0.0,NaN,1,1,2010.0,2010-01-01 00:00:00,NaN,"On November 21, 2014, Lawrence K. Fish, a dire...",https://www.sec.gov/Archives/edgar/data/147584...
9021,FUTUREFUEL CORP,287462,2013,48303,Lee E. Mikles,5.0,0.0,NaN,1,1,2013.0,2013-01-01 00:00:00,NaN,"Lee E. Mikles has submitted his resignation, e...",https://www.stltoday.com/business/local/novell...
19415,TELEPHONE & DATA SYSTEMS INC,10411,1993,4008,LeRoy T. Carlson Jr.,9.0,NaN,NaN,1,2,NaN,NaN,NaN,Execucomp appears to confuse him with his dad ...,NaN

##### 3.5 Operationen auf Spalten

*Hinweis: Durch klick auf das kleine `+` in der oberen Toolbar oder durch selektieren einer Code Zelle und klicken der Tasten `a` (above) oder `b` (below) kÃ¶nnen neue Code Zellen eingefÃ¼gt werden.*

1. Selektiere die ersten 3 Spalten und letzten 100 Zeilen des Datensatzes.

In [17]:
df.iloc[-100:, :3]

                         firm_name  firm_id  year
id
8946    RENEWABLE ENERGY GROUP INC   187692  2017
8947    RENEWABLE ENERGY GROUP INC   187692  2018
8948    RENEWABLE ENERGY GROUP INC   187692  2019
8948                PROTO LABS INC   187696  2013
8949                PROTO LABS INC   187696  2017
...                            ...      ...   ...
55863        BED BATH & BEYOND INC    25338  1993
556717           RENT-A-CENTER INC    31460  2017
556718           RENT-A-CENTER INC    31460  2019
557049           TRAVELERS COS INC    62689  1999
559029         DESIGNER BRANDS INC    24171  2008

[100 rows x 3 columns]

2. Selektiere den Firmennamen, den CEO-Namen und die Information, ob diese/r immer noch im Amt ist. (*Achtung: Variablen aus dem Data Dictionary wurden umbenannt beim Datenimport!*)

In [18]:
df[['firm_name', 'ceo_name', 'still_active']]

                         firm_name                  ceo_name still_active
id
1                         AAR CORP            Ira A. Eichner          NaN
2                         AAR CORP           David P. Storch          NaN
3                         AAR CORP  John McClain Holmes, III    17nov2020
4       ADC TELECOMMUNICATIONS INC        William J. Cadogan          NaN
5       ADC TELECOMMUNICATIONS INC        Richard R. Roscitt          NaN
...                            ...                       ...          ...
55863        BED BATH & BEYOND INC          Warren Eisenberg          NaN
556717           RENT-A-CENTER INC            Mark E. Speese          NaN
556718           RENT-A-CENTER INC         Mitchell E. Fadel    03feb2021
557049           TRAVELERS COS INC            Jay S. Fishman          NaN
559029         DESIGNER BRANDS INC      Jay L. Schottenstein          NaN

[9390 rows x 3 columns]

3. Selektiere alle Spalten auÃŸer die Spalten `max_tenure` und `date_gone` (d.h. diese sollen entfernt werden).

In [19]:
df.drop(['max_tenure', 'date_gone'], axis=1, inplace=False)

,firm_name,firm_id,year,ceo_id,ceo_name,depart_code,ceo_dismi,interim_or_co,tenure_no,fy_gone,still_active,notes1,notes2
id,,,,,,,,,,,,,
1,AAR CORP,1004,1995,5622,Ira A. Eichner,5.0,0.0,NaN,1,1996.0,NaN,Mr. Ira A. Eichner served as CEO until October...,https://www.comparably.com/companies/aar-corp/...
2,AAR CORP,1004,2017,5623,David P. Storch,5.0,0.0,NaN,1,2018.0,NaN,Agreed to stay as non-executive chairman post ...,https://advance-lexis-com.umiss.idm.oclc.org/a...
3,AAR CORP,1004,2018,51547,"John McClain Holmes, III",NaN,NaN,NaN,1,NaN,17nov2020,NaN,https://www.aarcorp.com/about/corporate-officers/
4,ADC TELECOMMUNICATIONS INC,1013,2000,2611,William J. Cadogan,6.0,0.0,NaN,1,2001.0,NaN,"William Cadogan, the retiring CEO and chairman...",https://www.bizjournals.com/twincities/stories...
5,ADC TELECOMMUNICATIONS INC,1013,2003,23275,Richard R. Roscitt,6.0,0.0,NaN,1,2003.0,NaN,"Richard R. ""Rick"" Roscitt has accepted a new p...",https://www.businesswire.com/news/home/2003081...
...,...,...,...,...,...,...,...,...,...,...,...,...,...
55863,BED BATH & BEYOND INC,25338,1993,10653,Warren Eisenberg,9.0,NaN,CO-CEO,1,NaN,NaN,He didn't leave but wasn't shown as CEO by exe...,NaN
556717,RENT-A-CENTER INC,31460,2017,36115,Mark E. Speese,3.0,1.0,NaN,2,2018.0,NaN,He started this stint as interim but stayed on...,https://www.businesswire.com/news/home/2017041...
556718,RENT-A-CENTER INC,31460,2019,36117,Mitchell E. Fadel,NaN,NaN,NaN,1,NaN,03feb2021,NaN,NaN
557049,TRAVELERS COS INC,62689,1999,12200,Jay S. Fishman,7.0,0.0,NaN,1,2001.0,NaN,"ay Steven Fishman (November 4, 1952 â€“ August 1...",https://en.wikipedia.org/wiki/Jay_S._Fishman
559029,DESIGNER BRANDS INC,24171,2008,54815,Jay L. Schottenstein,5.0,0.0,NaN,1,2009.0,NaN,there was some family fighting around the time...,https://www.sec.gov/Archives/edgar/data/131994...

4. Ersetze die Beobachtungen mit Index `1`, `10` und `100` in der Spalte `ceo_dismi` durch ein `None` (*missing value*).

In [20]:
df.loc[[1, 10, 100], 'ceo_dismi']

id
1      0.0
10     0.0
100    1.0
Name: ceo_dismi, dtype: float64

In [21]:
df.loc[[1, 10, 100], 'ceo_dismi'] = None
df.loc[[1, 10, 100], 'ceo_dismi']

id
1     NaN
10    NaN
100   NaN
Name: ceo_dismi, dtype: float64

5. FÃ¼ge fÃ¼r alle leeren EintrÃ¤ge in der Variable `ceo_dismi` den Code `3` ein. Verwende dafÃ¼r zusÃ¤tzlich das `inplace` Argument.

In [22]:
df['ceo_dismi']

id
1         NaN
2         0.0
3         NaN
4         0.0
5         0.0
         ...
55863     NaN
556717    1.0
556718    NaN
557049    0.0
559029    0.0
Name: ceo_dismi, Length: 9390, dtype: float64

In [23]:
df['ceo_dismi'].fillna(3, inplace=True)
df['ceo_dismi']

id
1         3.0
2         0.0
3         3.0
4         0.0
5         0.0
         ...
55863     3.0
556717    1.0
556718    3.0
557049    0.0
559029    0.0
Name: ceo_dismi, Length: 9390, dtype: float64

6. Nun nehmen wir an, dass bei der Kodierung (d.h. der Erhebung der GrÃ¼nde fÃ¼r ein Ausscheiden eines CEOs (`depart_code`)) ein Fehler gemacht wurde. Der/die Kodierer:in ist in der Zeile verrutscht und hat stets einen um 1 zu niedrigen Code eingetragen. ErhÃ¶he `depart_code` nachtrÃ¤glich um 1, um den Fehler zu korrigieren, und ersetz dabei die alte Spalte.

In [24]:
df['ceo_dismi']

id
1         3.0
2         0.0
3         3.0
4         0.0
5         0.0
         ...
55863     3.0
556717    1.0
556718    3.0
557049    0.0
559029    0.0
Name: ceo_dismi, Length: 9390, dtype: float64

In [25]:
df['ceo_dismi'] = df['ceo_dismi'] + 1
df['ceo_dismi']

id
1         4.0
2         1.0
3         4.0
4         1.0
5         1.0
         ...
55863     4.0
556717    2.0
556718    4.0
557049    1.0
559029    1.0
Name: ceo_dismi, Length: 9390, dtype: float64

7. Benenne die angepasste Spalte `depart_code` in `depart_code_new` um.

In [42]:
df.rename({'depart_code': 'depart_code_new'}, axis=1, inplace=True)
df

,firm_name,firm_id,year,ceo_id,ceo_name,depart_code_new,ceo_dismi_new,interim_or_co,tenure_no,max_tenure,fy_gone,date_gone,still_active,notes1,notes2
id,,,,,,,,,,,,,,,
1,AAR CORP,1004,1995,5622,Ira A. Eichner,5.0,4.0,NaN,1,1,1996.0,1996-10-01 00:00:00,NaN,Mr. Ira A. Eichner served as CEO until October...,https://www.comparably.com/companies/aar-corp/...
2,AAR CORP,1004,2017,5623,David P. Storch,5.0,1.0,NaN,1,1,2018.0,2018-05-31 00:00:00,NaN,Agreed to stay as non-executive chairman post ...,https://advance-lexis-com.umiss.idm.oclc.org/a...
3,AAR CORP,1004,2018,51547,"John McClain Holmes, III",NaN,4.0,NaN,1,1,NaN,NaN,17nov2020,NaN,https://www.aarcorp.com/about/corporate-officers/
4,ADC TELECOMMUNICATIONS INC,1013,2000,2611,William J. Cadogan,6.0,1.0,NaN,1,1,2001.0,2001-02-15 00:00:00,NaN,"William Cadogan, the retiring CEO and chairman...",https://www.bizjournals.com/twincities/stories...
5,ADC TELECOMMUNICATIONS INC,1013,2003,23275,Richard R. Roscitt,6.0,1.0,NaN,1,1,2003.0,2003-08-13 00:00:00,NaN,"Richard R. ""Rick"" Roscitt has accepted a new p...",https://www.businesswire.com/news/home/2003081...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55863,BED BATH & BEYOND INC,25338,1993,10653,Warren Eisenberg,9.0,4.0,CO-CEO,1,2,NaN,NaN,NaN,He didn't leave but wasn't shown as CEO by exe...,NaN
556717,RENT-A-CENTER INC,31460,2017,36115,Mark E. Speese,3.0,2.0,NaN,2,2,2018.0,2018-01-01 00:00:00,NaN,He started this stint as interim but stayed on...,https://www.businesswire.com/news/home/2017041...
556718,RENT-A-CENTER INC,31460,2019,36117,Mitchell E. Fadel,NaN,4.0,NaN,1,1,NaN,NaN,03feb2021,NaN,NaN
557049,TRAVELERS COS INC,62689,1999,12200,Jay S. Fishman,7.0,1.0,NaN,1,2,2001.0,2001-01-01 00:00:00,NaN,"ay Steven Fishman (November 4, 1952 â€“ August 1...",https://en.wikipedia.org/wiki/Jay_S._Fishman
559029,DESIGNER BRANDS INC,24171,2008,54815,Jay L. Schottenstein,5.0,1.0,NaN,1,1,2009.0,2009-04-27 00:00:00,NaN,there was some family fighting around the time...,https://www.sec.gov/Archives/edgar/data/131994...

8. Erzeuge einen zweiten DataFrame der das Jahr (`year`), den CEO-Namen (`ceo_name`) und die Anzahl der Amtszeiten (`tenure_no`) enthÃ¤lt. Nenne diesen neuen DataFrame `df2`.

In [27]:
df2 = df.loc[:, ['year', 'ceo_name', 'tenure_no']]  # df2[['year', 'ceo_name', 'tenure_no']]
df2

        year                  ceo_name  tenure_no
id
1       1995            Ira A. Eichner          1
2       2017           David P. Storch          1
3       2018  John McClain Holmes, III          1
4       2000        William J. Cadogan          1
5       2003        Richard R. Roscitt          1
...      ...                       ...        ...
55863   1993          Warren Eisenberg          1
556717  2017            Mark E. Speese          2
556718  2019         Mitchell E. Fadel          1
557049  1999            Jay S. Fishman          1
559029  2008      Jay L. Schottenstein          1

[9390 rows x 3 columns]

##### 3.6 Datenaggregation auf Spalten

*Hinweis: Durch klick auf das kleine `+` in der oberen Toolbar oder durch selektieren einer Code Zelle und klicken der Tasten `a` (above) oder `b` (below) kÃ¶nnen neue Code Zellen eingefÃ¼gt werden.*

1. Ermittle die maximale und minimale Anzahl an Amtszeiten (`tenure_no`) sowie das durchschnittliche `year` aller Beobachtungen im Datensatz. Ermittle zudem das Median-`year`. Was fÃ¤llt dir auf?

In [28]:
df['tenure_no'].min()

1

In [29]:
df['tenure_no'].max()

4

In [30]:
df['year'].mean(), df['year'].median()

# mean < median: Indikator fÃ¼r Linksschiefe (potenziell mehr niedrige Outlier)
# mean > median: Indikator fÃ¼r Rechtsschiefe (potenziell mehr hohe Outlier)

(2007.7616613418531, 2008.0)

2. Ermittle die Korrelation zwischen `year` und `year_gone`. Warum beobachten wir eine Korrelation < 1?

In [31]:
# Vermutung: 'year' als Jahr der VerkÃ¼ndung, 'fy_gone' als Jahr der Umsetzung
df['year'].corr(df['fy_gone'])

0.5253167615144724

3. Was sind die top 5 Unternehmen mit den meisten Events (d.h. Beobachtungen) im Datensatz?

In [32]:
df['firm_name'].value_counts().head(n=5)

firm_name
SEARS HOLDINGS CORP            11
GREAT ELM CAPITAL GROUP INC    10
BIOLASE INC                     9
NTN BUZZTIME INC                9
BARRICK GOLD CORP               9
Name: count, dtype: int64

4. FÃ¼hre eine *Z-Standardisierung* der Variable `tenure_no` durch.

In [33]:
(df['tenure_no'] - df['tenure_no'].mean()) / df['tenure_no'].std()

id
1        -0.154943
2        -0.154943
3        -0.154943
4        -0.154943
5        -0.154943
            ...
55863    -0.154943
556717    5.857084
556718   -0.154943
557049   -0.154943
559029   -0.154943
Name: tenure_no, Length: 9390, dtype: float64

In [34]:
# noch schneller mit der `zscore` Funktion aus dem scipy Package
from scipy import stats
stats.zscore(df['tenure_no'])

id
1        -0.154951
2        -0.154951
3        -0.154951
4        -0.154951
5        -0.154951
            ...
55863    -0.154951
556717    5.857396
556718   -0.154951
557049   -0.154951
559029   -0.154951
Name: tenure_no, Length: 9390, dtype: float64

5. Selektiere alle *einzigartigen* Firmen, fÃ¼r die Beobachtungen in den Jahren 2000 oder frÃ¼her vorliegen (d.h. keine Duplikate).

In [35]:
df[df['year'] <= 2000]['firm_name'].unique()

array(['AAR CORP', 'ADC TELECOMMUNICATIONS INC', 'ALPHARMA INC -CL A',
       ..., 'PALM INC', 'GRANT PRIDECO INC', 'VIASYS HEALTHCARE INC'],
      dtype=object)

6. Liste alle CEOs, die mindestens drei Mal ihr Amt niedergelegt haben.

In [36]:
ceo_counts = df['ceo_name'].value_counts()
ceo_counts[ceo_counts >= 3]

ceo_name
Constantine S. Macricostas    4
Amin J. Khoury                4
John W. Rowe                  4
Edward D. Breen               4
Mel Karmazin                  4
Mark Vincent Hurd             4
William J. Miller             3
Brian Charles Duperreault     3
Harry C. Stonecipher          3
Eric A. Benhamou              3
Richard M. Beyer              3
Richard C. Notebaert          3
Richard M. Haddrill           3
Daniel Francis Akerson        3
David Allen Brandon           3
Jay L. Schottenstein          3
James R. Zarley               3
William P. Stiritz            3
Margaret Cushing Whitman      3
Todd S. Nelson                3
Michael D. Capellas           3
Herbert J. Zarkin             3
Sammy K. Duncan               3
Fred Hassan                   3
Dale W. Hilpert               3
Norman C. Payson              3
Robert B. Catell              3
David C. Peterschmidt         3
Walter M. Higgins III         3
Joel N. Waller                3
John D. Gottwald              3
Thomas W. Powell              3
Henry Brewer Schacht          3
Laurence Alan Tisch           3
Parker Steven Kennedy         3
Russell P. Fradin             3
Richard A. Smith              3
Craig A. Rogerson             3
Ronald Marshall               3
Gregory Q. Brown              3
Robert J. Ratliff             3
Paul A. Perrault              3
Mark S. Ordan                 3
Murray S. Kessler             3
Albert L. Lord                3
Robert W. Decherd             3
Robert J. DiNicola            3
Philip M. Pead                3
Jay S. Fishman                3
Randall D. Stilley            3
Robert H. Fish                3
Lee A. Kennedy                3
Malcolm S. Morris             3
Jeffrey A. Graves             3
Stephen J. Luczo              3
Richard E. Belluzzo           3
Ivan G. Seidenberg            3
Name: count, dtype: int64

##### 3.7 Operationen auf Gruppen

*Hinweis: Durch klick auf das kleine `+` in der oberen Toolbar oder durch selektieren einer Code Zelle und klicken der Tasten `a` (above) oder `b` (below) kÃ¶nnen neue Code Zellen eingefÃ¼gt werden.*

1. Gruppiere die Daten nach dem Jahr und zÃ¤hle die Anzahl der Beobachtungen pro Jahr mittels `.size()`.

In [37]:
df.groupby('year').size()  # alternativ: df['year'].value_counts()

year
1987      1
1992     58
1993    185
1994    240
1995    221
1996    316
1997    325
1998    350
1999    396
2000    368
2001    231
2002    258
2003    264
2004    324
2005    277
2006    334
2007    365
2008    301
2009    248
2010    300
2011    296
2012    288
2013    261
2014    312
2015    324
2016    317
2017    963
2018    825
2019    440
2020      1
2109      1
dtype: int64

2. Gruppiere die Daten nach dem Jahr und berechne den `mean` sowie `median` fÃ¼r `max_tenure` pro Jahr.

In [38]:
df.groupby('year')['max_tenure'].agg(['mean', 'median'])

          mean  median
year
1987  2.000000     2.0
1992  1.034483     1.0
1993  1.037838     1.0
1994  1.016667     1.0
1995  1.036199     1.0
1996  1.047468     1.0
1997  1.043077     1.0
1998  1.051429     1.0
1999  1.047980     1.0
2000  1.065217     1.0
2001  1.125541     1.0
2002  1.046512     1.0
2003  1.094697     1.0
2004  1.061728     1.0
2005  1.054152     1.0
2006  1.047904     1.0
2007  1.068493     1.0
2008  1.076412     1.0
2009  1.076613     1.0
2010  1.053333     1.0
2011  1.040541     1.0
2012  1.062500     1.0
2013  1.034483     1.0
2014  1.048077     1.0
2015  1.067901     1.0
2016  1.053628     1.0
2017  1.029076     1.0
2018  1.012121     1.0
2019  1.038636     1.0
2020  1.000000     1.0
2109  1.000000     1.0

3. Gruppiere die Daten nach dem Jahr und berechne den `mean` sowie `median` fÃ¼r `max_tenure` pro Jahr. Nenne die neu entstehenden Spalten `Mittelwert` sowie `Median`.

In [39]:
df.groupby('year')['max_tenure'].agg([('Mittelwert', 'mean'), ('Median', 'median')])

      Mittelwert  Median
year
1987    2.000000     2.0
1992    1.034483     1.0
1993    1.037838     1.0
1994    1.016667     1.0
1995    1.036199     1.0
1996    1.047468     1.0
1997    1.043077     1.0
1998    1.051429     1.0
1999    1.047980     1.0
2000    1.065217     1.0
2001    1.125541     1.0
2002    1.046512     1.0
2003    1.094697     1.0
2004    1.061728     1.0
2005    1.054152     1.0
2006    1.047904     1.0
2007    1.068493     1.0
2008    1.076412     1.0
2009    1.076613     1.0
2010    1.053333     1.0
2011    1.040541     1.0
2012    1.062500     1.0
2013    1.034483     1.0
2014    1.048077     1.0
2015    1.067901     1.0
2016    1.053628     1.0
2017    1.029076     1.0
2018    1.012121     1.0
2019    1.038636     1.0
2020    1.000000     1.0
2109    1.000000     1.0

4. Gruppiere die Daten nach dem Jahr und filter fÃ¼r Jahre mit mehr als 250 Beobachtungen. *Hinweis: Die GrÃ¶ÃŸe eines `DataFrame`, d.h. die Anzahl der Beobachtungen, kann mittels `len(df)` ermittelt werden.*

In [40]:
df.groupby('year').apply(lambda g: len(g) > 250)

year
1987    False
1992    False
1993    False
1994    False
1995    False
1996     True
1997     True
1998     True
1999     True
2000     True
2001    False
2002     True
2003     True
2004     True
2005     True
2006     True
2007     True
2008     True
2009    False
2010     True
2011     True
2012     True
2013     True
2014     True
2015     True
2016     True
2017     True
2018     True
2019     True
2020    False
2109    False
dtype: bool

5. Gruppiere die Daten nach dem Jahr und zÃ¤hle die Anzahl der Beobachtungen pro Jahr fÃ¼r CEOs in der zweiten Amtszeit.

In [43]:
df[df['tenure_no'] > 1].groupby('year').size()

year
1994     1
1995     1
1996     1
1997     2
1998     7
1999     8
2000    11
2001    11
2002     6
2003    13
2004     9
2005    10
2006     6
2007    11
2008    11
2009     9
2010     6
2011     8
2012    12
2013     4
2014     7
2015    14
2016    10
2017    26
2018     9
2019    18
dtype: int64