### Übungsaufgaben Kapitel 3 - Datenmanipulation und Datenanalyse

In [ ]:
# Im Gegensatz zu `pandas` ist `openpyxl` noch nicht vorinstalliert (ggf. Neustart des Kernels erforderlich)
!pip install openpyxl

**Hinweis:** Wir benennen die Spaltennamen des *CEO dissmissal* Datensatzes beim Datenimport um, um uns nachfolgend die Verarbeitung zu erleichtern:

```python
{'dismissal_dataset_id': 'id'
 'coname': 'firm_name'
 'gvkey': 'firm_id'
 'year': 'year'
 'co_per_rol': 'ceo_id'
 'exec_fullname': 'ceo_name'
 'Departure Code': 'depart_code'
 'ceo_dismissal': 'ceo_dismi'
 'Interim & Co-CEO': 'interim_or_co'
 'tenure_no': 'tenure_no'
 'max_tenure_ceodb': 'max_tenure'
 'The fiscal year during which the CEO exited - for clarity': 'fy_gone'
 'leftofc': 'date_gone'
 'Still There': 'still_active'
 'Notes and Thoughts': 'notes1'
 'Notes 2': 'notes2'}
```

In [ ]:
import pandas as pd

In [ ]:
col_names = ['id', 'firm_name' , 'firm_id', 'year', 'ceo_id', 'ceo_name', 'depart_code', 'ceo_dismi', 'interim_or_co',
             'tenure_no', 'max_tenure', 'fy_gone', 'date_gone', 'still_active', 'notes1', 'notes2']

url = 'https://zenodo.org/record/4543893/files/CEO%20Dismissal%20Data%202021.02.03.xlsx?download=1'

df = pd.read_excel(url, 'Sheet1', engine='openpyxl', index_col=0, names=col_names)

df.head(n=5)

##### 3.4 Operationen auf Zeilen

*Hinweis: Durch klick auf das kleine `+` in der oberen Toolbar oder durch selektieren einer Code Zelle und klicken der Tasten `a` (above) oder `b` (below) können neue Code Zellen eingefügt werden.*

1. Selektiere die ersten 3 Beobachtungen des Datensatzes.

In [ ]:
df.iloc[:3]  # oder: df.head(n=3)

2. Selektiere die letzten 100 Beobachtungen des Datensatzes.

In [ ]:
df.iloc[-100:]  # oder: df.tail(n=100)

3. Selektiere alle Beobachtungen aus dem Jahr 2000 und früher (Spalte `year`).

In [ ]:
df[df['year'] <= 2000]

4. Selektiere alle Beobachtungen aus dem Jahr 2000 und früher oder 2010 und später (Spalte `year`).

In [ ]:
df[(df['year'] <= 2000) | (df['year'] >= 2010)]

5. Selektiere alle CEOs, denen in der zweiten Amtszeit (`tenure_no == 2`) gekündigt wurde (`ceo_dismi == 1`).

In [ ]:
df[(df['tenure_no'] == 2) & (df['ceo_dismi'] == 1)]

6. Selektiere alle Beobachtungen, zu denen es denen es keine Notizen gibt (d.h. `notes1` enthält keinen Eintrag).

In [ ]:
df.dropna(axis=0, how='any', subset=['notes1'])  # oder: df[df['notes1'].notna()], df[~df['notes1'].isna()]

7. Selektiere alle Beobachtungen, zu denen es denen es Notizen gibt (d.h. `notes1` enthält einen Eintrag).

In [ ]:
df[df['notes1'].isna()]  # oder: df[~df['notes1'].notna()]

8. Sortiere den Datensatz nach dem `year` in absteigender Reihenfolge und speichere das Resultat in der Variable `df_sorted`.

In [ ]:
df_sorted = df.sort_values(by='year', ascending=False)
df_sorted

9. Sortiere den Datensatz nach dem `year` in absteigender Reihenfolge und überschreibe den original Datensatz unter Verwendung des `inplace` Arguments.

In [ ]:
df.sort_values(by='year', ascending=False, inplace=True)
df

10. Sortiere den Datensatz nun wieder nach dem ursprünglichen Index unter Verwendung des `inplace` Arguments.

In [ ]:
df.sort_index(inplace=True)
df

11. Ziehe eine zufällige Stichprobe (mit Zurücklegen), deren Größe 40% des originalen Datensatzes entspricht. Verwende dafür die *Seed* 2023 (d.h. setze `random_state=2023`).

In [ ]:
df.sample(frac=0.4, replace=True, random_state=2023)

12. Selektiere alle CEOs, die eine 3. oder sogar 4. Amtszeit (`tenure_no`) angetreten haben (=potenzielle Ausreißer?).

In [ ]:
df[df['tenure_no'] >= 3]  # oder: df[df['tenure_no'] in [3, 4]]

13. Selektiere alle CEOs, deren `ceo_name` mit einem `L` beginnt. (*Tipp: Wirf einen Blick in die [`pandas` Dokumentation](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.str.startswith.html)*)

In [ ]:
df[df['ceo_name'].str.startswith('L')]

##### 3.5 Operationen auf Spalten

*Hinweis: Durch klick auf das kleine `+` in der oberen Toolbar oder durch selektieren einer Code Zelle und klicken der Tasten `a` (above) oder `b` (below) können neue Code Zellen eingefügt werden.*

1. Selektiere die ersten 3 Spalten und letzten 100 Zeilen des Datensatzes.

In [ ]:
df.iloc[-100:, :3]

2. Selektiere den Firmennamen, den CEO-Namen und die Information, ob diese/r immer noch im Amt ist. (*Achtung: Variablen aus dem Data Dictionary wurden umbenannt beim Datenimport!*)

In [ ]:
df[['firm_name', 'ceo_name', 'still_active']]

3. Selektiere alle Spalten außer die Spalten `max_tenure` und `date_gone` (d.h. diese sollen entfernt werden).

In [ ]:
df.drop(['max_tenure', 'date_gone'], axis=1, inplace=False)

4. Ersetze die Beobachtungen mit Index `1`, `10` und `100` in der Spalte `ceo_dismi` durch ein `None` (*missing value*).

In [ ]:
df.loc[[1, 10, 100], 'ceo_dismi']

In [ ]:
df.loc[[1, 10, 100], 'ceo_dismi'] = None
df.loc[[1, 10, 100], 'ceo_dismi']

5. Füge für alle leeren Einträge in der Variable `ceo_dismi` den Code `3` ein. Verwende dafür zusätzlich das `inplace` Argument.

In [ ]:
df['ceo_dismi']

In [ ]:
df['ceo_dismi'].fillna(3, inplace=True)
df['ceo_dismi']

6. Nun nehmen wir an, dass bei der Kodierung (d.h. der Erhebung der Gründe für ein Ausscheiden eines CEOs (`depart_code`)) ein Fehler gemacht wurde. Der/die Kodierer:in ist in der Zeile verrutscht und hat stets einen um 1 zu niedrigen Code eingetragen. Erhöhe `depart_code` nachträglich um 1, um den Fehler zu korrigieren, und ersetz dabei die alte Spalte.

In [ ]:
df['ceo_dismi']

In [ ]:
df['ceo_dismi'] = df['ceo_dismi'] + 1
df['ceo_dismi']

7. Benenne die angepasste Spalte `depart_code` in `depart_code_new` um.

In [ ]:
df.rename({'depart_code': 'depart_code_new'}, axis=1, inplace=True)
df

8. Erzeuge einen zweiten DataFrame der das Jahr (`year`), den CEO-Namen (`ceo_name`) und die Anzahl der Amtszeiten (`tenure_no`) enthält. Nenne diesen neuen DataFrame `df2`.

In [ ]:
df2 = df.loc[:, ['year', 'ceo_name', 'tenure_no']]  # df2[['year', 'ceo_name', 'tenure_no']]
df2

##### 3.6 Datenaggregation auf Spalten

*Hinweis: Durch klick auf das kleine `+` in der oberen Toolbar oder durch selektieren einer Code Zelle und klicken der Tasten `a` (above) oder `b` (below) können neue Code Zellen eingefügt werden.*

1. Ermittle die maximale und minimale Anzahl an Amtszeiten (`tenure_no`) sowie das durchschnittliche `year` aller Beobachtungen im Datensatz. Ermittle zudem das Median-`year`. Was fällt dir auf?

In [ ]:
df['tenure_no'].min()

In [ ]:
df['tenure_no'].max()

In [ ]:
df['year'].mean(), df['year'].median()

# mean < median: Indikator für Linksschiefe (potenziell mehr niedrige Outlier)
# mean > median: Indikator für Rechtsschiefe (potenziell mehr hohe Outlier)

2. Ermittle die Korrelation zwischen `year` und `year_gone`. Warum beobachten wir eine Korrelation < 1?

In [ ]:
# Vermutung: 'year' als Jahr der Verkündung, 'fy_gone' als Jahr der Umsetzung
df['year'].corr(df['fy_gone'])

3. Was sind die top 5 Unternehmen mit den meisten Events (d.h. Beobachtungen) im Datensatz?

In [ ]:
df['firm_name'].value_counts().head(n=5)

4. Führe eine *Z-Standardisierung* der Variable `tenure_no` durch.

In [ ]:
(df['tenure_no'] - df['tenure_no'].mean()) / df['tenure_no'].std()

In [ ]:
# noch schneller mit der `zscore` Funktion aus dem scipy Package
from scipy import stats
stats.zscore(df['tenure_no'])

5. Selektiere alle *einzigartigen* Firmen, für die Beobachtungen in den Jahren 2000 oder früher vorliegen (d.h. keine Duplikate).

In [ ]:
df[df['year'] <= 2000]['firm_name'].unique()

6. Liste alle CEOs, die mindestens drei Mal ihr Amt niedergelegt haben.

In [ ]:
ceo_counts = df['ceo_name'].value_counts()
ceo_counts[ceo_counts >= 3]

##### 3.7 Operationen auf Gruppen

*Hinweis: Durch klick auf das kleine `+` in der oberen Toolbar oder durch selektieren einer Code Zelle und klicken der Tasten `a` (above) oder `b` (below) können neue Code Zellen eingefügt werden.*

1. Gruppiere die Daten nach dem Jahr und zähle die Anzahl der Beobachtungen pro Jahr mittels `.size()`.

In [ ]:
df.groupby('year').size()  # alternativ: df['year'].value_counts()

2. Gruppiere die Daten nach dem Jahr und berechne den `mean` sowie `median` für `max_tenure` pro Jahr.

In [ ]:
df.groupby('year')['max_tenure'].agg(['mean', 'median'])

3. Gruppiere die Daten nach dem Jahr und berechne den `mean` sowie `median` für `max_tenure` pro Jahr. Nenne die neu entstehenden Spalten `Mittelwert` sowie `Median`.

In [ ]:
df.groupby('year')['max_tenure'].agg([('Mittelwert', 'mean'), ('Median', 'median')])

4. Gruppiere die Daten nach dem Jahr und filter für Jahre mit mehr als 250 Beobachtungen. *Hinweis: Die Größe eines `DataFrame`, d.h. die Anzahl der Beobachtungen, kann mittels `len(df)` ermittelt werden.*

In [ ]:
df.groupby('year').apply(lambda g: len(g) > 250)

5. Gruppiere die Daten nach dem Jahr und zähle die Anzahl der Beobachtungen pro Jahr für CEOs in der zweiten Amtszeit.

In [ ]:
df[df['tenure_no'] > 1].groupby('year').size()